[2022-05-19 09:03] danielfett opened #2 "Add example: JWT-VC as in W3C VC data model"

[2022-05-19 11:49] alenhorvat opened #3 "Salting claim names and claims [discussion point]"
Some use cases may require hiding both claim names and claims.

Some schemas are country/jurisdiction-specific and revealing all claims might reveal some additional information.

Open questions/remarks
- since the issuer is known, information about the schema can be guessed
- hiding the claim names does not hide the structure
- do use cases really require hiding the claim name?

[2022-05-26 15:28] selfissued opened #4 "Rename sd_claims to _sd_claims"
In OpenID Connect, we use the convention that meta claim names (claims about sets of claims) are prefixed by an underscore.  For example, see the `_claim_names` and `_claim_sources` claims defined at https://openid.net/specs/openid-connect-core-1_0.html#AggregatedDistributedClaims.  I think we should do the same.

Please rename `sd_claims` to `_sd_claims`.

[2022-05-26 15:34] selfissued opened #5 "Cite JWT as RFC 7519 and JWS as RFC 7515"
The spec currently does not contain a reference for RFC 7519 (JWT), which it clearly needs to.  It also uses RFC 7515 (JWS) as the citation for JWT in several place, which is incorrect.

Please add a RFC 7519 (JWT) reference and cite it the first time that the term JSON Web Token (JWT) is used in the body of the spec (but not in the abstract).  And look at the current uses of RFC 7515 and correct

[2022-05-27 00:55] sakimura opened #8 "There are two "terminologies" in 1.1 and 2"
Currently, it has

1.1. Conventions and Terminology
2. Terminology

Having two "Terminology" as consecutive headings is not good.
I propose to change 2 as follows:

2. Terms and Definitions

[2022-05-27 01:12] sakimura opened #9 "Term "holder" has a mismatch with legal notions in EU Data Act etc."
"holder" is not a good term to use in this context as it overlaps with a legal term that maps to claims sources. (cf. EU Data Act, Australian Consumer Data Regulation, etc. )

Perhaps we can just use "wallet" for this purpose.

[2022-05-27 01:28] sakimura opened #10 "Terms: "release""
Using a single word "release" as a defined term is not a good practice. We will lose the capability to use "release" in the dictionary sense. You may say that it would be fine as we can capitalize it but it should be noted that the notion of capitalization does not exist in many languages and it will cause issues when translating.

As the abbreviation indicates, perhaps it would be better to call

[2022-05-27 01:36] sakimura opened #11 "2. Terminology -- the way it is written does not look like Terms and definitions"
* The way it is written now does not look like terms and definitions.
* It would also be a good practice to make it possible to the definition to replace the terms that appear in the main text.
* With this respect, verbose explanations especially the mechanisms should be done in the "Concepts" section in the main text. In fact, much of the text in the current "terminology" mostly duplicates what i

[2022-05-27 01:46] sakimura commented on #3
There have been some discussions about it on the signal group.

Just recording them for the transparency purposes

- hide claim values only
- hide claim names and claim values

Rationale:
Some schemas are country/jurisdiction specific and revealing all claims might reveal some additional information. (Something the use-cases still need to clarify is the fact that the issuer is known. Still waiting

[2022-05-30 08:18] Sakurann commented on #10
Agreed. SD-JWT-R or SD-JWT-Release would be better.

[2022-05-30 08:53] Sakurann opened #12 "should we allow signing formats other than JWS, ie LD-Proofs, JAdES and group signatures?"
Do we want to allow signing formats other than JWS, ie LD-Proofs, JAdES and group signatures?

I am not an expert on JAdES, but from my understanding, I think it is close enough to JWS, it should be included.
I do not see the benefit of including LD-Proofs and group signatures, since the whole point of this work was to enable selective disclosure without using those signature formats...

Based on

[2022-05-30 08:56] Sakurann opened #13 "information about the hash function"
information about the hash function should probably be included inside SD-JWT.

Based on @AlenHorvat 's comment to the PR https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/1#discussion_r877151757

[2022-05-30 08:59] Sakurann opened #14 "No need for the wallet-generated hashes"
In the security considerations section, add a recommendation to use uuidv4 or something that's standardised to generate salt

Based on @AlenHorvat 's comment on the PR https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/1#discussion_r877161631

[2022-05-30 14:52] #5 closed

[2022-05-30 14:57] danielfett commented on #14
What is the advantage of using a UUID? Using a UUID wastes space by making the representation much longer.

PKCE for example did not choose to use a UUID.

[2022-05-30 14:58] danielfett commented on #12
Also, we need to keep things simple. JAdES can make sense.

[2022-05-30 14:59] danielfett commented on #10
I would be fine with that.

[2022-05-30 15:08] alenhorvat commented on #14
Idea is to suggest something standardised for the salt generation to avoid misusing random number generators (const. seeds, timestamp as a seed, ...). I don't have a particular preference on what approach is recommended.

[2022-05-30 15:11] danielfett commented on #14
Makes sense, but I don't think a UUID is a good fit here.

[2022-05-30 15:13] alenhorvat commented on #12
You're right. I missed one element:
- JWS, JAdES sign JSON as is
- LD-proofs, group signatures usually require additional transformation (and we're avoiding this).
Keeping JWS is sufficient. (JAdES results either with compact serialised or JSON serialised JWS, so we're covered).

Let's keep only JWS and we can close this issue.

[2022-05-30 15:14] danielfett commented on #14
RFC7636 (PKCE) says this in the security considerations:

[2022-05-30 15:22] alenhorvat commented on #14
I agree.
Should we make a recommendation or we just re-use the security consideration from PKCE without suggesting anything?
From a standardisation point of view security consideration as above is sufficient (devs usually ask for a recommendation)
If this is the case, we can close the issue.

[2022-05-30 15:26] danielfett commented on #14
I think we should be fine with the security recommendation.

[2022-05-30 15:48] danielfett commented on #4
Thanks, I renamed `sd_claims` to just `_sd`.

[2022-05-30 15:48] #4 closed

[2022-05-31 08:00] sakimura commented on #9
Some candidates:
* Container
* keeper

[2022-05-31 10:15] alenhorvat commented on #3
We are discussing whether there's really a case where we need to hide the names.
In most cases, you'll need to reveal info about the issuer and the schema.

[2022-05-31 10:25] sakimura commented on #3
Yup. And once you reveal info about the issuer and the schema, there is no
point in hiding the claim names in most cases. So, I am arguing that we do
not need to hide them.

On Tue, May 31, 2022 at 7:15 PM Alen Horvat ***@***.***>
wrote:

--
Nat Sakimura (=nat)
Chairman, OpenID Foundation
http://nat.sakimura.org/
@_nat_en

[2022-05-31 10:32] alenhorvat commented on #3
I agree.
We can close this issue.

Thank you!

[2022-05-31 10:32] #3 closed

[2022-05-31 14:05] danielfett commented on #9
- "owner" (probably easy to confuse with legal terms, but would be similar to resource owner)
- "controller"

[2022-06-01 11:22] Sakurann commented on #9
my personal preference would be "resource owner binding"

[2022-06-01 12:33] Sakurann commented on #8
closing with PR #16

[2022-06-01 12:33] Sakurann commented on #10
closing with PR #16

[2022-06-01 12:33] #10 closed

[2022-06-01 12:33] Sakurann commented on #11
closing with PR #16

[2022-06-01 12:33] #11 closed

[2022-06-01 12:51] sakimura opened #17 "Replace remaining occurence of Release with SD-JWT Release"
We have fixed the term and definitions but a few still appear in the main text.
We need to fix them as well, hopefully before the first individual draft is uploaded.

So,

s/signatures called releases/signatures called SD-JWT Releases/
s/SD-JWTs and releases/SD-JWTs and SD-JWT Releases/
s/Verifying a Release/Verifying a SD-JWT Release/

[2022-06-01 14:30] danielfett commented on #17
Fixed with PR #18

[2022-06-01 18:09] christianpaquin commented on #14
We should stay away from uuid for the salt, IMO. Many UID library do not generate cryptographically random values, as it is needed here.

[2022-06-01 18:10] christianpaquin commented on #13
Yes, needed indeed. This and more details about hash formatting (how to transform inputs into byte arrays to be passed to the hash function).

[2022-06-01 20:01] christianpaquin opened #20 "Example 1 JWS contains 4 parts; should be 3 at this point"
The [flat SD example 1](https://github.com/oauthstuff/draft-selective-disclosure-jwt/blob/master/main.md#example-1---flat-sd-jwt) contains 4 period-separated parts. I assume the first 3 are the expected JWS ones, and the fourth one is the SVC. This is however only introduced in the [following section](https://github.com/oauthstuff/draft-selective-disclosure-jwt/blob/master/main.md#sd-jwt-and-svc-c

[2022-06-01 21:26] christianpaquin opened #21 "Clarify encoding of SD-JWT-R"
In the [SD-JWT-R section](https://github.com/oauthstuff/draft-selective-disclosure-jwt/blob/master/main.md#sd-jwt-r-format), it is said: "the result (SD-JWT-R) is encoded as described in RFC7519"; more guidance should be provided (section number in RFC7519, serialization description, ...).

[2022-06-05 03:27] Sakurann opened #23 "usage of sub_jwk"
A comment from @b---c that I completely agree with.

[2022-06-05 03:28] Sakurann opened #24 "More work on holder binding"
A comment from @b---c

[2022-06-05 03:37] Sakurann commented on #24
Yes, the holder binding as of now only achieves binding to the public key - the holder is only proving control over the same private key both during issuance and presentation.

To prove that the actual user, about whom the user claims are, is in front of a device both during issuance and presentation, more is needed.
- one option would be to use a public key that is able to sign only after biometr

[2022-06-05 03:39] Sakurann opened #25 "same key name `_sd` in SD-JWT and SVC"
A comment from @b---c

[2022-06-06 19:56] Sakurann opened #26 "Clearly how a term `payload` is used."
Comment from @b---c. Kristina to revise the text to make distinction between SD-JWT and SVC clearer

[2022-06-06 19:57] Sakurann opened #27 "SVC with JSON string values containing escaped JSON"
Comment from @b---c.

[2022-06-06 19:58] Sakurann opened #28 "alg=none in SD-JWT-R"
Comment from @b---c.

[2022-06-06 19:58] Sakurann commented on #28
need to discuss if we want to allow unsigned SD-JWT-R - don't think alg=none would be a good idea.

+ need clarify the six .-separated elements text

[2022-06-06 19:59] Sakurann opened #29 "specify hash function"
Comment from @b---c

[2022-06-06 19:59] Sakurann commented on #29
hash function table from my original draft is omitted in the current draft - will add.

[2022-06-06 20:00] Sakurann opened #30 "encrypting values in SD-JWT"
Comment from @b---c

[2022-06-06 20:03] Sakurann commented on #30
This is an interesting idea that I would love to discuss. I've heard thoughts to encrypt the whole SD-JWT as JWE, but not individual values. Could you please elaborate on the developer mistakes during hash calculation that you have in mind, @b--c?

[2022-06-07 18:52] selfissued commented on #12
I agree that we should support only JWS signatures as JWTs do, since our spec is explicitly a JWT profile.

I think that we should close this issue with no action on that basis.

[2022-06-07 18:59] selfissued commented on #13
The alternative is to use the same hash function as was used for the signature.  This is done in OpenID Connect Core at https://openid.net/specs/openid-connect-core-1_0.html#ImplicitTokenValidation in the `at_hash` definition (as well as in the `c_hash` definition.  The language is:

[2022-06-07 19:04] selfissued commented on #14
I agree that the current Security Considerations are sufficient.  I also agree that UUIDs have multiple problems.

I recommend that we close this issue with no further actions on this basis.

[2022-06-07 19:13] selfissued commented on #23
Also note this text in-00:

There is currently no normative text in the spec saying how `sub_jwk` is used.

I do think that continuing to use the `sub_jwk` claim is fine.

[2022-06-07 21:35] christianpaquin commented on #29
See #13

[2022-06-08 11:16] PieterKas opened #31 "Binding between SD-JWT and SD-JWT Salt/Value Container (SVC)"
Section 4.3 proposes a combined format of appending the SD-JWT Salt/Value Container (SVC) to the SD-JWT. To avoid mix-ups and improve reliability it may be worth establishing an explicit binding between the SD-JWT Salt/Value Container (SVC) to the SD-JWT by, for example, adding an attribute to the SD-JWT that includes the hash of the SD-JWT Salt/Value Container (SVC). This would give the holder a

[2022-06-08 11:21] PieterKas opened #32 "Encrypting the SD-JWT Salt/Value Container (SVC)"
Since this is a privacy preserving mechanism, it may be worth adding an option to encrypt the SD-JWT Salt/Value Container (SVC) using the holders public key. We know from experience that tokens end up in log files and get exfiltrated that way, so adding an option to encrypt the information protects against this accidental leakage.

If we consider this option, it would be advisable to use a dedicat

[2022-06-08 11:30] PieterKas opened #33 "Including an encrypted version of the SD-JWT Salt/Value Container (SVC) in the SD-JWT"
It may be interesting to consider including the SD-JWT Salt/Value Container (SVC) in the SD-JWT. This way there would be only one structure to pass around and it won't be possible to mix-up SD-JWT Salt/Value Container (SVC) and SD-JWT pairings. The SD-JWT Salt/Value Container (SVC) can be encrypted using a holder public key (using a dedicated encryption key), so privacy is preserved, and only the

[2022-06-08 13:29] tlodderstedt commented on #2
Can you please also add an example of a W3C compatible Verifiable Presentation?

[2022-06-08 17:36] Sakurann commented on #29
duplication.

[2022-06-08 17:36] #29 closed

[2022-06-08 17:37] bc-pi commented on #30
The main mistake I have in mind is the verifier/receiver completely forgetting to do the hash calculation and comparison. Because the claim values are in the SVC thing outside the SD-JWT, an attacker can put whatever values there they please and the receiver/verifier will accept them, if the hashes aren't checked. This might seem like an unlikely occurrence but mistakes get made all the time. Even

[2022-06-09 00:01] Sakurann opened #36 "How to send SD-JWT and SD-JWT-R in a presentation"
Per https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/19#issuecomment-1144794055 in PR https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/19.

Two options how to the Holder sends SD-JWT and SD-JWT-R to the Verifier
1. as separate JWTs -> six period-separated elements
2. as one JWT (SD-JWT is a string inside SD-JWT-R) -> four period-separated elements

personally I am

[2022-06-09 16:40] PieterKas commented on #30
I wonder if it makes sense to include an encrypted version of the SVC in the SD-JWT so there is only one artefact the engineers need to deal with (see https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/33 ).

[2022-06-10 04:41] Sakurann commented on #30
We can’t do that because that way SD-JWT will be meant only for one verifier whose pubKey was used to encrypt SVC, which takes away the multitude property

[2022-06-10 04:49] Sakurann commented on #30
it is one of the most fundamental assumptions this draft makes that verifier will verify the hashes.. and yet I agree with the concern.

encrypting claims in SD-JWT might impact adoption and simplicity, but the more I think about it the more sense it makes.

To call the size of SD-JWT, one option would be encrypting claim values in SVC and including hashes of the encrypted claims in SD-JWT?

[2022-06-10 04:56] Sakurann commented on #30
Would there be any implications of sending private keys in SD-JWT-R?

[2022-06-10 12:05] PieterKas commented on #30
I had something a little different in mind.

I was thinking that the SVC would be encrypted with the holders public key, so only the holder can decrypt it, but it can be included in the SD-JWT as part of the payload and prevent the risk of the SVC and the SD-JWT becoming disassociated. Since only the holder can decrypt it, it is safe to include in the SD-JWT from a privacy perspective (when it is

[2022-06-10 12:27] PieterKas opened #37 "Encapsulation instead of concatenation of data structures."
The concatenation of data structures may result in reliability problems (the data structures may get dissociated), or could be an entry point for an attacker (swapping out data structures, especially if there is no binding between them).

It may be interesting to consider encapsulation instead of concatenation. In that approach the issuer will generate a SD-JWT that contains the hashes and the SVC

[2022-06-10 18:18] Sakurann commented on #37
very interesting. there is step 0 where the holder needs to send a encPubKey to the Issuer so that the Issuer can encrypt the SVC, which should not be the same as the signPubKey used to sign SD-JWT-R for holder binding.

would you still want to bind SVC and SD-JWT as proposed in #31?

[2022-06-10 18:22] bc-pi commented on #30
It would be symmetric keys. One for each encrypted claim in the SD-JWT. The key is the disclosure mechanism and would be in place of the cleartext of the claim value in the current SVC structure. So I don't think there would be any additional implications than the current approach.

[2022-06-10 18:23] Sakurann commented on #12
To clarify, do we agree that since signing as JWS allows for both JWS compact serialization and JWS JSON serialization, this specification supports JaDES?

[2022-06-10 18:27] bc-pi commented on #30
I'll try and put together an example to hopefully make the idea more concrete and easier to reason about and discuss.

[2022-06-10 21:32] Sakurann commented on #33
How is this issue different from #37, @PieterKas ?

[2022-06-10 21:32] Sakurann commented on #30
also flagging Issue #37 as relevant

[2022-06-10 23:39] bc-pi commented on #30
Working with the same *raw* claim values from the [Example 1 - Flat SD-JWT](https://www.ietf.org/archive/id/draft-fett-oauth-selective-disclosure-jwt-00.html#name-example-1-flat-sd-jwt)
[code]

An SD-JWT payload where the claim values are encrypted (using JWE with dir + A128GCM) would look like this:

[code]

The SD-JWT signed by the issuer looks like this:

`
eyJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJodHRw

[2022-06-12 18:49] Sakurann commented on #14
agree with the discussion. I did a PR #38 because I did not think the current security considerations reflected this conversation sufficiently well-enough.

[2022-06-13 00:46] Sakurann commented on #24
my question is should the holder binding being made entirely out of scope of this draft? If not, suggest we make signing of SD-JWT-R mandatory.

On one hand, as @christianpaquin has pointed out, when there is holder binding, what is the use-case where an SD-JWT-R is not signed? On another hand, even if SD-JWT-R is not signed (ie no holder binding), as long as the verifier performs verification, se

[2022-06-13 00:47] Sakurann opened #44 "Restructure: use only Example 1 of 'flat' SD-JWT in the main text and move Example 2 to the Annex."
insight after doing a PR #43

[2022-06-13 01:05] Sakurann commented on #27
Should it be
[code]
instead of?
[code]

[2022-06-13 01:21] Sakurann commented on #23
per chat in Signal, I think it should be a URI (jwk-thumbprint-uri for sub_jwk, but can also be a DID). but as discussed in the chat, depends whether we think this is a layering violation and decide to not define holder binding in the spec...

[2022-06-13 02:43] sakimura commented on #9
W3C is a very small community compared to the addressable market we are envisioning. It is not about liking or not. If legislations use the term for something else in the model we are talking about, it will cause more confusion down the road than we do now for the current technical community. Imagine using "Data Controller" to refer to individuals as we believe individuals should have control over

[2022-06-13 07:20] danielfett commented on #28
Why would alg=none not be a good idea?

[2022-06-13 07:21] danielfett commented on #36
If the SD-JWT is a string inside the SD-JWT-R, this will create a larger data structure (base64 encoded base64).

[2022-06-13 09:00] danielfett commented on #37
- Sending 'unnecessary' encrypted data to the verifier is something we should avoid in my opinion. It makes the privacy of the claims depending on the strength of the encryption. We have seen weak encryption keys and leaked encryption keys in the past. If a verifier stores the encrypted values, it can try to decrypt them later on (forward secrecy), for example, after it turns out that the encrypti

[2022-06-13 09:13] danielfett commented on #30
I do see Brian's point (very well). This _is_ the kind of mistakes that will happen.

In my (limited) experience, the implementations for JWS are more mature than those for JWE and available in more libraries. Therefore, I think avoiding encryption if we can would make the spec easier to implement.

Providing clearer implementation advice and negative test cases ("must not accept...") could be a w

[2022-06-13 09:19] danielfett commented on #24
I think we should speak about the concept of holder binding in this spec including pointing to the tools we provide to achieve this:

- Places where keys can potentially be communicated (in the SD-JWT!)
- The signature of the SD-JWT-R

We should **not** define how keys are created or distributed, the syntax of how they are communicated, how they are verified, or what their meaning can be (bound to

[2022-06-13 09:20] danielfett commented on #23
I see `sub_jwk` as part of an example here, not normative for the spec. See also my comment on issue #24.

[2022-06-13 10:05] PieterKas commented on #30
In summary (to make sure I follow), each field in the JWD-SD is encrypted with a unique symmetric key, the SVC is replaced by a construct that contains value/symmetric key pairings, and for disclosure the holder sends the JWD-SD along with the value/symmetric key pairing for the values that should be disclosed.

@bc-pi in this proposal, do you foresee a need to protect the disclosure keys? I alway

[2022-06-13 10:55] danielfett commented on #31
Do we actually need this? I have the feeling that through the existing hashes, there is already a good binding.

[2022-06-13 11:36] PieterKas commented on #31
I think the existing hashes could be used, but there should be some clear guidance that the verifier should correlate the hashes between the SCV and SD-JWT.

If we make it explicit (e.g. the holder should only accept the SVC and SD-JWT pairing if all the hashes match (computed, not just string compared), it could work.

[2022-06-13 11:40] PieterKas commented on #33
https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/37 is broader and covers not just encapsulation of the SVC in the SD-JWT, but also the encapsulation of the SD-JWT in the SD-JWT-R.

[2022-06-13 12:02] selfissued commented on #9
At least for the short term, the tactical audiences for this spec are the IETF decision makers we'll be trying to convince to adopt this spec and people from the W3C Verifiable Credentials community who we'll be trying to work with to create a SD-JWT profile of VCs.  In both those cases, us inventing non-standard terminology for one of the core roles would be an impediment to clear conversations.

[2022-06-13 12:07] selfissued commented on #12
In the name of keeping simple things simple, I would advocate supporting exactly one signing format - the JWS Compact Serialization - making the same choice as JWTs.  That will result in the greatest interoperability.

If separately, we want to create a derived spec or specs saying how to use SD-JWTs, but with other signature types, we could do that.  But that should occur in separate specificatio

[2022-06-13 12:19] selfissued commented on #23
We do need to normatively say what claim we're using for the contained key.  Using `sub_jwk` seems like the obvious choice.

[2022-06-13 12:23] selfissued commented on #24
This is too low level a spec to include anything about key distribution, etc.  That's a job for profiles.

By analogy, neither the JWS nor JWT specs said anything about where to get keys (by design!).  Whereas the ID Token definition in Connect, which is a profile, did exactly that.  Similar separation of responsibilities applies here.

[2022-06-13 12:28] selfissued commented on #27
I agree that we should not use escaped JSON.

[2022-06-13 12:31] selfissued commented on #28
I agree with @danielfett that it's context-specific whether "alg"="none" is appropriate - just like it's context-specific whether any other signing and/or encryption algorithms are appropriate.

We should not be making algorithm choices in the basic SD-JWT spec.  Profiles are free to do that.

[2022-06-13 12:36] selfissued commented on #30
I am against requiring encryption as part of the basic SD-JWT data structure.  We should be emulating the simplicity of mDL's use of salted hashes and stop there.

Yes, recipients could forget to check the hashes, just like recipients could forget to check JWS signatures.  Addressing that is the domain of test suites and certification suites; trying to prevent negligent implementations should not

[2022-06-13 12:38] selfissued commented on #32
I am against requiring encryption as part of the basic SD-JWT data structure. We should be emulating the simplicity of mDL's use of salted hashes and stop there.

[2022-06-13 12:38] selfissued commented on #33
I am against requiring encryption as part of the basic SD-JWT data structure. We should be emulating the simplicity of mDL's use of salted hashes and stop there.

[2022-06-13 12:40] selfissued commented on #36
I agree with @danielfett that the double base64url-encoding resulting from option 2 is potentially problematic.

[2022-06-13 12:42] selfissued commented on #37
Per my comment https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/36#issuecomment-1153865303 , encapsulation results in unnecessary space bloat, which we should avoid.

[2022-06-13 12:43] selfissued commented on #44
I'm fine with that restructuring choice.

[2022-06-13 12:47] selfissued commented on #31
As per my comments on some of the other proposals, we should mirror the simplicity of mDL's salted hash claims, and stop there.  We need to resist the temptation to make things more complicated than they need to be.

[2022-06-13 12:49] selfissued commented on #25
I agree that using different claim names should be used when their purpose is different.

[2022-06-13 14:01] PieterKas commented on #33
If we are pursuing a strategy of concatenation rather than encapsulation, the linking between the data structures needs to be clear (e.g. verification of all hashes before accepting that the data structures should be paired).

[2022-06-13 14:09] PieterKas commented on #28
@danielfett, @selfissued don't we have evidence that alg=none is a dangerous option and leads to security issues as a result of implementation errors?

[2022-06-13 14:25] bc-pi commented on #30
What I'm proposing is in no way more complicated. It is actually simpler in many respects. And avoids the awkward JSON in JSON a la #27.

Implementation advice, warnings, test suites, certification suites, etc., have shown to be woefully insufficient and don't even reach the those that need it the most.

Negligence would be continuing to ignore these kinds of very real problems resulting from fund

[2022-06-13 14:32] bc-pi commented on #30
@PieterKas the current SVC has the value of claims fully in the clear. All of what you say applies (or doesn't) just the same to both approaches. But isn't an inherent or extra complexity of making things harder to mess up.

[2022-06-13 15:01] PieterKas commented on #30
@bc-pi agreed, that is the current state.

I guess I am feeling uneasy at having these SVC type constructs in the clear as we know they tend to leak. For a privacy preserving capability, it feels prudent to take the extra step of protecting the confidentiality of the SVC. If we choose to leave it in the clear, we need to provide clear guidance on the risks, although, I am with your sentiment that

[2022-06-13 15:14] PieterKas commented on #13
As discussed in the call, if we allow different hashes to be used, we may want to make a recommendation that for simplicity an implementor may want to use the same hash algorithm to minimise implementation errors.

[2022-06-13 15:21] christianpaquin commented on #30
In the use case I was exploring, packaging SD-JWT as QR code, some limited clients (or simply printing the QR code on paper) can present the QR code as is, with all the claims and SVC in clear allowing the verifier to read the claims. A compliant client can further limit the disclosure by removing the SVC. This use case requires the SVC in clear.

[2022-06-13 15:27] Sakurann opened #47 "Break down the examples in more granular steps"

[2022-06-13 15:39] Sakurann opened #48 "Clarify signed vs unsigned SD-JWT-R"
the main purpose of signing SD-JWT-R is binding it to the transaction (nonce, aud)?
-> clarify the use-case
unsigned by default, can be signed.

[2022-06-13 15:43] Sakurann opened #49 "allow unsigned SD-JWT?"
describe why always sign if we are mandating to do so.

[2022-06-13 16:05] Sakurann opened #50 "MTI hash algorithm?"
per @PieterKas's comment.

[2022-06-13 16:47] bc-pi commented on #28
SD-JWT should disallow alg=none.

Allowing the SVC (or whatever it becomes) to be unsigned is okay but can just be one chunk of base64url encoded JSON.

[2022-06-13 19:06] PieterKas commented on #30
@christianpaquin can you elaborate a bit more? The use case you describe (passing the SVC in clear to the verifier) sounds like it can be achieved without selective disclosure since giving the SVC in clear to the verifier does not seem to introduce any selectivity in the disclosure. It feels like you can achieve the same goal by just including the claims in cleartext in in a JWT.

[2022-06-13 22:47] christianpaquin commented on #30
Sure. Issuer issues the signed claims (JWS) to the user, along with the SVC. Legacy clients / paper-based encodings (e.g., QR codes) can present the entirety of the claims by presenting JWS+SVC. Conforming clients can disclose less by editing the SVC and removing the data associated with the claims to hide. See the [Claim QR](https://github.com/microsoft/claimqr) project for a prototype of this ap

[2022-06-14 12:01] PieterKas commented on #30
Thanks @christianpaquin  and @Sakurann.

1. For the paper based encodings, how would the holder edit the SVC?
2. For paper based encodings, the verifier still perfroms the verification electronically (e.g. scans the QR code(s)), verify signatures on the SD-JWT etc?

[2022-06-14 14:12] christianpaquin commented on #30
1. A user wouldn't be able to edit a paper-based credential, of course. Many large scenarios would have a diverse set of users, ranging from those with smart phones, to those with more limited features phones, to those without any device. For equity reasons, all these users would need to be able to participate in the system. (This was the case, e.g., for the covid certificates; it was a hard requi

[2022-06-14 16:14] #2 closed

[2022-06-14 17:01] Sakurann commented on #12
Agreed to support only JWS Compact Serialization in SD-JWT and define a separate profile for JWS JSON serialization if needed.

@alenhorvat agrees.

[2022-06-14 17:01] #12 closed

[2022-06-15 07:17] kushaldas opened #51 "More explanation on "precise JSON encoding can vary""
Talking about https://www.ietf.org/archive/id/draft-fett-selective-disclosure-jwt-00.html#section-4.1.1.1-3

I think we should add one more line to explain that depending on the programming language & exact JSON library, the JSON encoded ordered array (which is the input to the hash function) may look different, but all are valid JSON. This also means the hash output may not be the same even for t

[2022-06-15 13:07] danielfett commented on #30
I plan to give this a try and implement the encryption-based scheme in a separate branch.

I do have a concern with the cipher text size revealing the plain text length (Brian already mentioned this): With AES/GCM, the length of the cipher text depends directly on the plain text.

This can be seen in the example above (showing just the cipher text part of the JWE):

- given_name: `2JBl2g` (John)
-

[2022-06-15 14:27] bc-pi commented on #30
I did mention ciphertext size revealing info about plain text length but with, "having a hard time seeing how that could be meaningfully consequential" clearly didn't think too hard about some of the cases that have real implications. And was forgetting/ignoring that GCM wasn't a bock mode.

[2022-06-16 09:16] PieterKas commented on #30
The increased size is a lesser concern than the information leakage (the point is selective disclosure afterall).

I always worry a bit more about stream ciphers in any event. For GCM mode, the developer now has to remember not to use the same IV twice, and any padding they engage in my lead to keystream data being revealed if they don't use a new IV for every field. So prohibiting to a block ciph

[2022-06-16 09:20] #13 closed

[2022-06-16 09:22] #14 closed

[2022-06-16 09:22] Sakurann commented on #20
PR #46

[2022-06-16 09:25] PieterKas commented on #30
I think if the holder does not need to edit the paper representation of the SCV, and the verifier is performing verification electronically, it does not matter whether the SVC contains cleartext (per original proposal) or ciphertext values (the alternate proposal from Brian). The holder would still present both the SD-JWT and the SVC (or equivalent) and the verifier would scan both and then do com

[2022-06-16 10:55] Sakurann commented on #47
requested by @christianpaquin
@danielfett is this something you could work on?

[2022-06-16 10:58] Sakurann commented on #28
yes, we agreed SD-JWT must be signed.

but will SD-JWT-R allow alg=none..? or we say that when SD-JWT-R is unsigned it is not a JWT, but a JSON object?

[2022-06-16 11:00] #26 closed

[2022-06-16 12:24] kushaldas opened #53 "Reference Python implementation is not verifying HOLDER binding via sub_jwk"
According to the HOLDER key (4.1.1.2), we should have the HOLDER_PUBLIC_KEY as `sub_jwk` in the *SD-JWT*, right now the reference implementation is attaching the ISSUER_PUBLIC_KEY to *SD-JWT*. We should fix this and then verify that the actual HOLDER's key matches with the `sub_jwk`.

[2022-06-16 13:47] PieterKas commented on #49
@Sakurann Proposed text for why the SD-JWT has to be signed (perhaps to be included in the security considerations?)

The SD-JWT is always signed by the issuer to prevent claims from being added or modified without being detected. The verifier must always check the signature to ensure that the SD-JWT has not been tampered with and that the claims included were not modified since the SD-JWT was sig

[2022-06-16 14:34] danielfett commented on #27
The proposed JSON encoding in the current draft avoids normalization issues, as already mentioned by others. Just sending the value as shown here does not always work, e.g. for values that are an array and therefore have an infinite number of different representations with different hashes. There's a metric ton of other issues, e.g. around numbers that we really don't want to get into. We need to

[2022-06-16 14:44] christianpaquin commented on #30
Correct, hash-based or encryption-based selective disclosure is orthogonal to this design. There was another encryption being discussed: the encryption of SVC in order to "unlock" the disclosure by the client. This can be an option for some use cases, but shouldn't be mandated to accommodate this bearer token one.

Correct. They would be combined (dot-concatenated) in one string, encoded in one QR

[2022-06-16 14:52] christianpaquin commented on #30
I agree that the claims leakage mitigations are arguably at least as complex as the requirement to correctly check the digests. The outcome is however different: privacy leak vs. security bypass. Anyone involved with mDL design? It'd be interesting to see if they considered an encryption-based disclosure, and if so, why they didn't use that.

(There is another encryption size issue that I raised e

[2022-06-17 04:46] Sakurann commented on #49
thanks Pieter, incorporated into the PR.

[2022-06-17 04:57] Sakurann commented on #23
specifying `sub_jwk` normatively is somewhat contradictory to your comments on layering violation in Issue #24... I think we should say `sub_jwk` can be used but it is up to the implementors to decide what to use.

[2022-06-17 07:12] #53 closed

[2022-06-17 07:15] danielfett commented on #49
Thanks for preparing the pull request. Approved and merged!

[2022-06-17 07:15] #49 closed

[2022-06-17 07:36] danielfett commented on #31
I'm not convinced we need any of this. The binding by the existing hashes is already quite strong.

We can define that the holder checks that (a) the structure in the SVC actually matches the one in the SD-JWT and that (b) the holder checks that the hashes match. That's really all we need.

[2022-06-17 07:39] danielfett commented on #27
See [here](https://datatracker.ietf.org/doc/html/rfc8785#section-3.2) for more examples on why canonicalization is needed:

[2022-06-17 07:54] Sakurann opened #57 "add a JSON-encoded mDL example"

[2022-06-17 08:46] PieterKas commented on #31
Agreed, that would achieve the same result. Some proposed text:

The SVC and SD-JWT are implicitly linked through the hash values of the claims in the SVC that is included in the SD-JWT. To ensure that the correct SVC and SD-JWT pairings are being used, the holder should verify that all the claims in the SVC are present in the SD-JWT, that there are no claims in the SD-JWT that are not in the SVC

[2022-06-17 10:24] PieterKas commented on #30
Good callout that the impact of a mistake is different.

[2022-06-17 11:34] tlodderstedt opened #59 "Complete W3C VC/VP Example"
It unclear to me how the key for holder binding is represented and used in the example 4 in the appendix. Could you please add an explanation (perhaps JWT headers are required as well).

[2022-06-17 11:35] tlodderstedt commented on #59
I recommend use of raw public keys (JWKs) in this example.

[2022-06-17 11:42] peppelinux opened #60 "Add proper header claims in SD-JWT"
We have

[code]

we may have something like

[code]

[2022-06-17 11:43] tlodderstedt commented on #28
I'm not sure it is a good idea to go down the "use an unsigned assertion instead of a plain object" to solve that problem again.

The requirement at hand is to release a credential with selective disclosure in cases where there is no cryptographic holder binding. That might for example mean, the credential is bound to certain claims of the holder, e.g. name and dob. That is normal practise for a l

[2022-06-17 12:32] tlodderstedt commented on #60
+1

[2022-06-17 13:50] danielfett commented on #30
I created a proof of concept: https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/62

[2022-06-17 15:16] selfissued commented on #28
If we ever want SD-JWT-R to be signed, then it should be a JWT.  If we also want it to be able to be unsigned, then the JWT should use alg:none when unsigned.  If we decide that SD-JWT-R should never be signed, then it should always be base64url-encoded JSON.  But again, if it's sometimes signed, that's exactly what alg:none is for, and why we included it the JWS spec.

alg:none is not an attack v

[2022-06-17 15:40] tlodderstedt commented on #28
I think, if we want unsigned releases, the release shall be a JSON object. If the release shall be signed, that same JSON Object could be the payload of a JWS aka a JWT.

[2022-06-17 15:49] selfissued commented on #28
If I'm understanding you correctly, Torsten then you're advocating having either base64url-encoded JSON (one segment) or a signed JWT with three segments (header, payload, signature).  It's that format inconsistency that alg:none is intended to prevent, since it would also be three segments.

That doesn't answer the question of whether there's ever a reason to sign the SD-JWT-R.  For simplicity pu

[2022-06-17 16:43] PieterKas commented on #28
Signing the SD-JWT-R makes sense if we want to verify the holder binding or want to prevent impersonation or replay. These artefacts will be stolen, just like bearer tokens are being stolen and exfiltrated, so requiring signatures in at least some of the cases will stop that attack vector.

[2022-06-18 07:06] peppelinux commented on #60
I suppose also to have at least `kid` or `x5t` or `jwk` or `x5c` in the headers.

[2022-06-18 08:18] peppelinux commented on #32
Encryption may be useful in some cases and it would be good to have it in the specs by design, as an additional feature, this would be very appreciated in some contexts

[2022-06-18 09:19] peppelinux opened #64 "[Sending SD-JWT and SVC during Issuance] explanatory text, terms and examples"
In [Sending SD-JWT and SVC during Issuance](https://github.com/oauthstuff/draft-selective-disclosure-jwt/blob/master/main.md#sending-sd-jwt-and-svc-during-issuance) we read

`For transporting the SVC together with the SD-JWT from the issuer to the holder, the SVC is base64url-encoded and appended to the SD-JWT using a period character . as the separator.`

We may consider to enrich the example wit

[2022-06-18 09:32] peppelinux commented on #64
Another hint, the SD-JWT in the example should have the aud claim valued. Isn't so?

[2022-06-18 09:40] peppelinux opened #65 "[SD-JWT and SVC Issuance and Presentation] JWT Artifact instead of custom base64url concatenation"
In section "Sending SD-JWT and SVC during Issuance" in "SD-JWT and SVC issuance" and define a term for the objects that concatenates the base64urls artifacts.

What do you think to have a JWT instead of a custom base64url artifact?
The JWT it has a header where we may normate the `typ` claim `ISS-SD-JWT` or any other that say "ISSUED SD-JWT". The JWT may have the following structure

[code]

[2022-06-18 09:46] peppelinux opened #66 "We should define two different claims for _sd"
The same `_sd` claim is used for `SD-JWT` and also for `SVC`.

Here an example of `_sd` in `SD-JWT`

[code]

here an example of `_sd` in `SVC`

[code]

So actually we have the same claim name for two different purposes.
What do you think to have two separate claim name, like `_sd_jwt` and `_sd_svc`?

[2022-06-18 09:48] peppelinux commented on #66
We may adopt in SD-JWT Release the claim `_sd_svc`

[2022-06-18 09:51] peppelinux commented on #65
If thsi approach is reasonable to you we should adopt the same solution during the Presentation phase

https://github.com/oauthstuff/draft-selective-disclosure-jwt/blob/master/main.md#sending-sd-jwt-and-sd-jwt-r-during-presentation

[2022-06-18 10:21] Macke commented on #9
FWIW when I reviewed this draft I was concered (before I spotted this Issue) about the use of holder, especially in the context of issuer and verifier as it could be easily mis-understood as holder in a VC sense only.  I think it would be better to use a different name and then reference some possible implementation patterns such as the holder role in VC.  Perhaps taking inspiration from the defin

[2022-06-18 10:24] Macke commented on #66
This seems a duplicate of [issue 25](https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/25)

[2022-06-18 10:28] Macke opened #68 "Editorial issues and typos"
Section 1 - The note at end of  is not clear

Section 2.7 - "An entity that **entity that** requests,"

Section 3.3 - Verifying an **SD-JWWT** Release

Section 4.1.1.1 - Reference to eKYC should probably be OIDC4IDA

Section 4.3 - "...base64ur-encoded..."

Section 5 - numbering format is not good from a readability perspective

[2022-06-18 12:59] #66 closed

[2022-06-20 12:33] danielfett commented on #65
Is this a duplicate of https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/37?

[2022-06-20 12:48] danielfett commented on #30
FWIW, I'll briefly describe another solution here that I came up with during our call on Friday - and say why it doesn't work.

The idea I had was that the issuer creates an encryption key for each claim value, encrypts the claim value, and provides the *key* - not the ciphertext - in the SD-JWT.
The SVC would contain the ciphertexts instead of the keys, and the holder would release a subset of th

[2022-06-20 12:56] peppelinux commented on #65
completely yes, So I close this.

I'm not a fun for nesting stuffs in matriosca formats, so we may consider to register a content-type in the IANA Registry to deal with this base64 concatenation of objects if we agree. Let's talk on this on the dedicated/original issue

my bad!

[2022-06-20 12:56] #65 closed

[2022-06-20 14:47] bc-pi commented on #30
While trying to wrap my head around @danielfett's idea from the call last Friday I was inspired by the swapping of the placement of keys and ciphertexts and  stumbled on an approach that I think maybe does combine the advantages of the hash and encryption approaches. The idea is to use the authentication tag of a symmetric JWE similar to the hash value in the salted hash approach. Then include the

[2022-06-20 15:00] danielfett commented on #30
I like this idea! Best of both worlds, I guess.

Although fiddling with the JWE may be a bit tricky to communicate and get right.

I would suggest to put the key into a separate "sd_key" claim. I heard the underscore does not imply magic abilities! :-D

[2022-06-20 15:31] Sakurann commented on #30
Authentication tags in SD-JWT
Encrypted values without tags in SVC and SD-JWT-R.

the benefit of new approach compared to the original one it that it solved the problem that the length of the encrypted values is different by using AEAD instead of padding, correct?

Sent from my iPhone
________________________________
From: Daniel Fett ***@***.***>
Sent: Monday, June 20, 2022 8:00:58 AM
To: oauthst

[2022-06-20 15:32] bc-pi commented on #30
Agree that the JWE fiddling may be a bit tricky to communicate. But the actual fiddling operations are a string split for the issuer and a string concatenation for the verifier. So not particularly difficult.

I should have anticipated the questioning of my magic abilities! :-D A separate "sd_key" claim would probably be better.

[2022-06-20 15:43] bc-pi commented on #30
Kinda, yeah. Keeping the ciphertext out of the SD-JWT removes the potential info leakage of the size of the ciphertext revealing info about the plaintext.

[2022-06-20 19:22] PieterKas commented on #30
@danielfett I was thinking about the practical implications of the proposal  after our call and agree that in practice there will be opportunities for implementation errors.

In theory, the mathematical properties of public and private key pairs are equivalent. However, most implementations optimise for speed by picking fixed values and parameters (in the case of RSA, the public exponent is often

[2022-06-20 19:36] PieterKas commented on #30
@bc-pi for your scheme, I think we are restricting algorithms to only those that support authenticated encryption. I think that is fine as there is a good supply of chaining modes that support it.

[2022-06-22 09:50] peppelinux commented on #60
and also the typ header claim "SD-JWT-R"

do we have nay prefernces on the name of these typ(s)?

"selective-disclosure-jwt+r" and things or the KISS approach? (I'm for the second one)

[2022-06-23 15:32] danielfett commented on #68
See PR #72. Most points in this issue have been addressed already in other commits. We can't change the list style, so keeping as is for now.

[2022-06-23 20:05] nikosft opened #73 "Handling claims that are in the form of a dictionary or array"
IMHO if a claim is in the form of a dictionary, then each element of the dictionary should be hashed separately. For example, in [Example 1](https://www.ietf.org/archive/id/draft-fett-oauth-selective-disclosure-jwt-01.html#name-example-1-sd-jwt) there is the following claim:

[code]
which is transformed to

[code]

Whereas it might be more useful to be transformed into something like that:

[code]

[2022-06-23 21:41] peppelinux commented on #73
Ciao,
this is a very good question and probably this is the answer: `sd_jwt -t structured`

[code]

@daniel anyway in the current implementation, usign a `complex` structure, I see this
`"address": "[\"M0Jb57t41ubrkSuyrDT3xA\", {\"locality\": \"Maxstadt\", \"postal_code\": \"12344\", \"country\": \"DE\", \"street_address\": \"An der Weide 22\"}]"`

is it a bug of the walker implementation?

[2022-06-23 21:45] peppelinux opened #74 "Define an content-type for the bas64url encoded artifacts in the HTTP Requests and Responses"
We should consider to define a content-type and returning this in the HTTP Response, may we imagine something like `application/sd-jwt-svc`?

and for the request `application/sd-jwt-release`

[2022-06-23 22:42] peppelinux opened #75 "Github page content"
Github page should publish the content of main.md and not the README of the project.
do you agree?

[2022-06-24 08:45] danielfett commented on #75
I'd like to keep it as is. The readme provides guidance and instructions to compile everything, this would be hidden away otherwise. We can make create a more prominent link to main.md though.

[2022-06-24 08:57] peppelinux commented on #75
It make sense, ok for the README, the important document is anyway the main.md, a link directly in the README woud be a very good strategy

[2022-06-24 09:52] danielfett commented on #73
Hi Nikos,

Examples 1 and 2 show exactly the two options from your comment. It is up to the issuer to decide whether to make the full address releasable as one value or to make each of the sub-claims releasable.

We don't have an example for arrays yet, but I imagine that what you are showing should be possible as well.

@peppelinux The complex example seems correct to me - what am I missing?

[2022-06-24 09:57] danielfett commented on #60
If I look at what we have chosen for DPoP, I think we should go for `sd+jwt` and `sd-r+jwt` or similar. @b---c Do you have an opinion on this?

[2022-06-24 10:01] nikosft commented on #73
I missed the Appendix section :) My fault.

[2022-06-24 10:35] dtmcg opened #76 "sd-jwt-r as signature algo"
this is an elegant solution to selective disclosure 👍
question if the sd-jwt-r is modifed to contain the salts and payload value hash's (instead of the values),
can the process used for generating the sd-jwt-r be considered a signature algo and be applied any JWT?

if the sd-jwt-r is b64 url encoded as a signature & appended to a plane old JWT
this would make selective disclosure a function of the

[2022-06-24 10:40] peppelinux commented on #73
@danielfett I was wondering if instead of a single hash for an entire JSON Object we should have, there, a JSON Object with the key:hashes for each address attribute

[2022-06-24 11:21] danielfett commented on #73
@peppelinux Ah, now I see what you mean. In the complex example, address is intentionally a single claim. This is defined by `CLAIMS_STRUCTURE` in `complex_structured.py`. The example shows that the issuer doesn't have to descent into all subclaims and treating address as in the simple example can be a valid choice.

[2022-06-24 12:20] #68 closed

[2022-06-24 13:26] bc-pi commented on #60
Agree with `sd+jwt`.

Not sure about the `sd-r+jwt` because the SD JWT release is more stuff than a single JWT. And typ is describing the JWT containing it.

[2022-06-24 13:34] nikosft opened #77 "Use cnf to represent holder key."
Right now the text uses `sub_jwk` to "include the holder public key". May be the `cnf` claim, defined in [RFC 7800](https://datatracker.ietf.org/doc/html/rfc7800) is more suitable. Then an SD-JWT could be nicely combined with MTLS of DPoP.

[2022-06-24 14:57] fabian-hk commented on #30
@bc-pi I have implemented your encryption approach in Kotlin: [https://github.com/IDunion/SD-JWT-Kotlin/tree/encryption-proposal](https://github.com/IDunion/SD-JWT-Kotlin/tree/encryption-proposal)

It was quite easy to implement. The only thing I was struggling a little bit with was the JSON encoding inside the JWE. But this is maybe related to the JSON library I am using. The size of the SD-JWT i

[2022-06-24 20:32] christianpaquin commented on #28
I'm catching up on this thread, going back to my implementation. I've never used `alg=none` before, and in the bearer token case, I must say it feels weird to append an extra JWS header with `alg=none`, the SVC as payload, and an empty signature (i.e., currently proposed SD-JWT-R: `<iss header>.<SD-JWT-payload>.<iss sig>.<holder header (alg=none)>.<SVC>.<empty string>`) I feel that the spec should

[2022-06-24 20:36] christianpaquin opened #79 "Get rid of _sd claim in spec examples"
Regenerate the base64url encoded examples; they still contain the `_sd` claim name

[2022-06-24 23:05] peppelinux opened #80 "[Privacy] Anonymous claims"
### Problem
A user doesn't want to show which attributes he got from an issuer in a VC. The reason behind this is that the user doesn't want to give to a RP any information about the attributes that this RP may ask to him in the future. If a RP has a proof of possession of some claim of a user it may ask these to the user, in the future, producing  some reason, some levers or circumstances, to per

[2022-06-24 23:18] peppelinux opened #81 "SVC values as strings or JSON Object?"
actually we have the SVC claims dumped as string, in this way

[code]

is there any requirement to have these as strings or this is only an implementation flavour?
Wouldn't be better to have the claims values, in this JSON Object, as JSON Object as well?

this proposal makes the claims values as follows

[code]

This would reduce the encoding/parsing of the values as JSON Object during validation

[2022-06-24 23:29] peppelinux commented on #81
Ok, I can answer by myself, it seems to me that it's only a rapresentation of the artifacts in stdout

[code]

But this behaviour, related to the demo in the python code, produced this result even in the non normative examples of the specs (eg: [here](https://github.com/oauthstuff/draft-selective-disclosure-jwt/blob/master/main.md#example-sd-jwt-release-for-example-1))

I'd suggest to remove the j

[2022-06-25 15:24] danielfett commented on #81
This is a duplicate of https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/27 - please see the discussion there.

[2022-06-25 15:24] #81 closed

[2022-06-25 20:23] peppelinux commented on #81
thank you @danielfett , I completely missed it!

[2022-06-25 21:04] peppelinux commented on #60
@bc-pi

This is the SD-JWT-R taken from draft and demo code
[code]

it's a signed JWT with the structure above

[code]

So if we agree we can add `sd-r+jwt` in the SD-JWT-R

[2022-06-25 21:12] peppelinux commented on #60
PR here
https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/83

Code here
https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/61/commits/d49b8ffe82392b3a4948393863e203ad25885b4a
https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/61/commits/4a4575f36906c61471179b8b530f47d980853ba1

[2022-06-25 21:18] peppelinux commented on #27
mhh ... in the JWT world any issuer can put strange bytes in a value and in "this perfect world" this should be escaped as well, we don't have c18n and it seems that everything is fine. I'd fill this gap usign a normative json-schema in the specs (annex?)

[2022-06-25 21:20] peppelinux commented on #25
@Sakurann isn't it be closed thanks to https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/42?

[2022-06-25 21:23] peppelinux commented on #64
In pyrefactor branch (PR [here](https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/61/files#diff-5222495a3d6b3dd607e525361846720aa32ea623787032990c43548a2c24b3c1R169) ) I added this kind of representation for debug/demo purpose

[code]

[2022-06-25 21:27] peppelinux commented on #27
Also [this issue](https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/80) is asks for

1. remove JSON Object in the form escaped strings (no more JSON Objects)
2. using pure JSON Objects with explicit attributes/properties

[2022-06-25 21:32] peppelinux opened #84 "[Feature] JSON schema for SD-JWT"
Once we resolve [this issue](https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/27) we'll be able to define a validation schema (in draft and in code) for SD-JWT, SVC and SD-JWT-R if you agree

the python implementation will adopts pydantic if you agree

here some examples
https://github.com/italia/spid-cie-oidc-django/blob/main/spid_cie_oidc/entity/schemas/op_metadata.py#L84
http

[2022-06-25 22:17] peppelinux commented on #51
I think that thi issue could be closed when this proposal will be approved (and implemented)
https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/27#issuecomment-1157732753

all the values will be a JSON Object and not escaped string

[2022-06-26 06:26] sakimura opened #85 "Delineation of the entity and process"
# Comment:
In this document, issuer, holder, and verifier are entities and not processes.
Obviously, a holder, typically a human being, cannot receive the electronic communication directly, so there needs to be a process that runs on a computing device to receive the communication.
This distinction is important when discussing privacy as the process may be run by a processor under the control of t

[2022-06-26 06:27] sakimura opened #86 "Notation clarification"
# Comment
Is the notation used to build this ABNF? (Looks a bit different). We should state what notation we are using.

# Proposal
State what notation scheme it is using with reference to the format definition.

[2022-06-26 06:30] sakimura opened #87 "Security and privacy targets not defined"
# Comments
From the current version of the document, the security and privacy target is not really defined but only a mechanism is defined as “An SD-JWT, at its core, is a digitally signed document containing hashes over the claim values with unique salts and other metadata. It MUST be digitally signed using the issuer's private key”. Explicitly defining security and privacy goals may be desired.

[2022-06-26 06:36] sakimura opened #88 "Is “Private key” appropriate term to use?"
# Comments
Perhaps a signing key is more appropriate if it is a “digitally signed document”

# Proposals
Replace "private key" with "signing key"

[2022-06-26 06:41] sakimura opened #89 "Explain what is selective disclosure"
# Comments
Concept of selective disclosure is not obvious for many readers so it needs to be explained

# Proposals
In the terms and definition, define it as follows

selective disclosure
process of disclosing a subset of claims contained in a claim set

[2022-06-26 06:43] sakimura opened #90 "Terms and definition formatting error"
# Comments
While some of the definitions refer to other terms with numbers, the corresponding term is not numbered.

# Proposals
Add numbers and reformat.

[2022-06-26 07:25] sakimura opened #91 "Create decent privacy considerations"
# Comment
While many people attached in this field seem to focus on loosely defined notion of unlinkability, it is not only the factor to be considered. Also, the notion of unlinkability can be more regorously defined as in ISO/IEC 27551 and it is essential to consider in that rigor.

# Proposal:
Use the following text.

# Privacy considerations

Privacy protection can be considered from the follo

[2022-06-26 07:36] sakimura opened #94 "Should we move normative requirements from "Security Considerations" to the main text?"
# Comments
I know we sometimes do it, but I reckon that it is not a good practice to have normative requirements in the Security and Privacy considerations.

# Proposal
Consider moving those MUSTs to the main text.

[2022-06-26 07:39] sakimura opened #95 "Each requirement should be listed as a numbered/labeled paragraph"
# Comments
Currently, multiple "MUST" exists in one paragraph/sentence. They are not labelled either.
Making each requirement an independent paragraph with a label will make a building of a conformance suite much easier.

# Proposals
Give mandate to editors to modify the text so that each requirement and recommendation are separated out and labelled.

[2022-06-26 15:25] peppelinux commented on #87
Would R1 be covered by this proposal https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/80 ?

[2022-06-26 16:29] sakimura commented on #87
@peppelinux I will review it tomorrow. I took a sleeping pill a few minutes ago and probably not good to review it in this state.  (It is 1:17 AM now.)

By the way, the current draft does not even fulfil R2 except in special cases where there are large enough value possibilities in the value itself. Is this really what we want? If this is what the community wants, I am ok with it, but my preferenc

[2022-06-27 02:55] #21 closed

[2022-06-27 02:57] #24 closed

[2022-06-27 03:12] Sakurann commented on #87
In my understanding, we are not defining a protocol. we are defining an extension to JWT, which is defines as a "compact, URL-safe means of representing claims to be transferred between two parties" over the protocol of the choice of those parties.

Which is why I am also not comfortable defining properties R1-R4 in this document. For example R3 is out of scope of this specification defining means

[2022-06-27 04:31] Sakurann commented on #91
Nat, can SD-JWT be used to achieve any of the eight types of unlinkability defined in ISO/IEC 27551, regardless of which "exchange protocol" is used? If it achieves none, we should just say so. If it achieves one or more of the eight, we should focus on those.

[2022-06-27 04:33] Sakurann commented on #95
can you please point us to an example where requirements are labelled within the text? Will do wrt one MUST per paragraph/sentence.

[2022-06-27 04:35] Sakurann commented on #88
What is a concern with using `private key`? Both [JWA](https://www.rfc-editor.org/rfc/rfc7518.html) and [JWS](https://datatracker.ietf.org/doc/html/rfc7515) use `private key`.

[2022-06-27 04:42] Sakurann commented on #9
Maybe something like `holder-of-key`? Inspired by https://datatracker.ietf.org/doc/html/rfc7800

[2022-06-27 05:01] Sakurann commented on #77
+1

[2022-06-27 05:02] Sakurann commented on #59
need to agree `sub_jwk` vs `cnf` re Issue #77

[2022-06-27 05:20] Sakurann commented on #31
agreed, refactored the PR #34.

[2022-06-27 08:56] sakimura commented on #91
Unlinkability cannot be discussed without referring to exchange protocol. By choosing a suitably protective protocol (including issuance and presentation), we could certainly achieve 1,2,3,5,6, I think, from my gut feeling. They need to be demonstrated and that's why this exercise is useful.

BTW, SD-JWT is mainly on uncoverability if I understand correctly and thus that should be the main focus o

[2022-06-27 08:58] sakimura commented on #88
That was a comment I got from a cryptographer. I can ask them and get back to you.

[2022-06-27 10:36] sakimura commented on #88
So, the rationale was that ISO's cryptography working group (SC27/WG2) has completely moved away from the terminology and decided to use function-based naming (signature key, verification key) instead of secrecy-based naming (private key, public key) as a private key does not necessarily have an ability to sign: you would have to specify a pairing algorithm with the word "private key" to make it s

[2022-06-27 10:46] sakimura commented on #87
Actually, I re-read the draft and it probably does provide R2. Anyway, we need to decide on what we want to achieve and check that it indeed does.

[2022-06-27 10:56] danielfett commented on #90
I think we should remove the references with numbers since they are not required anyway.

The format we're using for the terms is a somewhat official one, using features provided by xml2rfc. Not sure if it is the best one, though.

[2022-06-27 11:00] danielfett commented on #27
But in the JWT world, you get the thing that is signed delivered. There's no need to reconstruct it, therefore no need for c18n.

A JSON schema does not help, because this is about the serialization, not the contents of the JSON.

How would you solve the c18n problem described above, e.g., around floating point numbers, with plain JSON objects?

[2022-06-27 11:08] danielfett commented on #87
I like Nat's proposal to define these or similar terms in our document. A lot!

What we claim to achieve in the document needs to be guided by the requirements, and I think we need to discuss this in more details (e.g., hiding claim names).

@Sakurann

We very much are, just not a network or web protocol. What is described in Concepts is essentially a protocol, without calling it that way - there

[2022-06-27 11:35] sakimura commented on #87
Yes, it goes towards it, although not completely. As described in my proposed privacy consideration text, the issuer identifier alone may be enough to break this so we may need to combine it with a group signature scheme or something like that.

[2022-06-27 11:45] sakimura opened #96 "5.1.1 para 3 (ed) Is just stating "JSON-encoding" deterministic enought?"
# Comments

In 5.1.1 paragraph 3, it is stated

Is it deterministic enough? For example, would not there be variations regarding whitespace, quoting, Unicode character normalization, etc.?

# Proposal
If it is deterministic, I am fine with it, although I would appreciate a note explaining why. If not, we need to fix it :-)

[2022-06-27 14:36] danielfett commented on #96
It is not deterministic, but since the value-to-be-hashed is shared with the verifier in the exact form it was hashed, there is no need for it to be deterministic.

This is being discussed in this issue: https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/27

Kushal has rightfully pointed out that we need to make this more clear in the text: https://github.com/oauthstuff/draft-sele

[2022-06-27 14:39] danielfett commented on #84
I do like the idea of having a JSON schema, and also generating it from Pydantic seems like a good idea!

[2022-06-27 15:43] Sakurann commented on #95
pointer to FAPI helps, that is what I have been asking for, since it is not a common style of writing specs in OpenID or IETF OAuth WG AFAIK.

[2022-06-27 16:19] sakimura commented on #9
Holder-of-key has a very specific meaning and would not suit our case
unless you want to make holder binding mandatory.

And here is the link to Australian Consumer data right
https://www.accc.gov.au/focus-areas/consumer-data-right-cdr-0/compliance-guidance-for-data-holders.
Here, "data holder" is the issuer in our case and often abbreviated as
"holder".

The same applies to EU Data Act.

On Mon,

[2022-06-27 17:25] Sakurann commented on #76
What does the issuer sign?
If I understood correctly, you are swapping SD-JWT and SD-JWT-R as defined in the current draft, so that only claim values are included in SD-JWT-R and salt + hashes in SD-JWT. The issuer would have to sign over SD-JWT-R so that the holder can keep appending it integrity protected and your SD-JWT becomes unsigned SD-JWT-R because that is that the holder modifies when pre

[2022-06-27 17:57] sakimura commented on #96
Ah, ok. So this is a dup of #51. Thanks.

On Tue, Jun 28, 2022 at 1:59 AM Daniel Fett ***@***.***>
wrote:

--
Nat Sakimura (=nat)
Chairman, OpenID Foundation
http://nat.sakimura.org/
@_nat_en

[2022-06-27 18:34] bc-pi commented on #60
My previous comment had some confusion about what exactly is SD JWT release. I thought (from misunderstanding or maybe text from a previous revision of the draft) that the SD-JWT-R was a term for the whole package.

[2022-06-27 18:45] bc-pi commented on #60
Thinking about this a bit more and I don't think that `typ` value(s) should be defined or mandated by this draft.

[RFC 8725 - JSON Web Token Best Current Practices](https://tools.ietf.org/html/rfc8725.html) talks about using explicit typing as a security mechanism to prevent "Cross-JWT Confusion" but typing something as an SD-JWT doesn't accomplish the same thing and might preclude use in context

[2022-06-27 19:22] bc-pi commented on #60
It's subtle but this isn't exactly a type of JWT and the title 'Selective Disclosure JWT' is potentially misleading. The document is more defining some structures/claims for use in JWT that can (help) accomplish selective disclosure.  'Selective Disclosure with JWT' or 'Selective Disclosure for JWT' might be more appropriate.

[2022-06-27 21:44] peppelinux commented on #75
indeed @Sakurann

I was refer to a preview of the last version built in the main branch and not to the official spec. I may have misunderstood, just to tell you what I mean as continuous deployment in github pages

[2022-06-28 07:07] #96 closed

[2022-06-28 07:09] danielfett commented on #95
I'm not sure this will be easy for us to accomplish here, as we need to interleave explanations, examples, and normative requirements. For FAPI this is easier, as it does not need to describe the protocol.

[2022-06-28 07:14] danielfett commented on #76
I'm not sure I'm following the proposal. Maybe a concrete example would help.

[2022-06-28 07:25] danielfett commented on #25
Fixed in #42 indeed.

[2022-06-28 07:25] #25 closed

[2022-06-28 07:26] danielfett opened #98 "Underscore in front of `sd_release` and `sd_digests` claim names?"
See the discussion in https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/42

[2022-06-28 07:36] sakimura commented on #95
I understand that but it is doable. It probably is kind of hard to auto-number them, but we could label each requirement and recommendation. ISO 31700 uses something like this, and so does ISO/IEC 15048-2 (AKA Common Criteria).

For example, the schematics below would achieve it.

## Section Header explaining FOO BAR provisions

### Introduction
Some prose explains what is being explained. Lorem i

[2022-06-28 07:38] danielfett opened #99 "Consider using an HMAC instad of a prefix hash"
Neil wrote on the mailing list:

I think this make a lot of sense and we should consider using an HMAC instead.

[2022-06-28 07:39] danielfett opened #100 "Improve selection of hash algorithms"
Neil's comment on the mailing list:

[2022-06-28 07:43] sakimura commented on #90
Removing the numbers is one way to remove the inconsistency and I am fine with it. It should be one way or another and be consistent.

Having said that, the current format is hard to read, unfortunately.

Also, I know it is not a norm in IETF, but relying on upper-casing for defined words and keywords is a bad idea, as they often do not translate. So, we should make sure that the defined terms wou

[2022-06-28 08:49] nikosft opened #102 "Example 1 includes twice the claim "hash_alg""
Example 1. in Section 5.2 includes `"hash_alg": "sha-256"` in line 6 and again in the last line.

[2022-06-28 16:04] danielfett opened #103 "Give advice on processing SD-JWTs for verifiers"
In this discussion, the question around merging SD claims with non-SD claims came up:
https://mailarchive.ietf.org/arch/msg/oauth/4jtL1vXWsYcyU99Gfe7n8jcONoA/

I think it makes sense to discuss this in the spec, whether it ends up as normative text or not.

[2022-06-28 23:25] peppelinux commented on #27
a JSON Schema can define the content of the values of any attribute.
It can restrict a value to be an integer or a string with a maxmimum length, it can also define the property of a complex type, like a nested JSON Object

[2022-06-29 01:12] Sakurann commented on #102
thank you! resolved in PR #104
no changes in codes since the test code is generating SD-JWTs with only one hash_alg

[2022-06-29 01:12] #102 closed

[2022-06-29 01:13] #23 closed

[2022-06-29 01:13] #31 closed

[2022-06-29 01:14] #48 closed

[2022-06-29 01:16] Sakurann commented on #99
+1
cc: @christianpaquin

[2022-06-29 01:30] Sakurann commented on #9
but in mDL world, we are moving forward with the term "holder". no one from EU/Australia seemed to be concerned. Apparently, document Holder is also typical term from the document business.

[2022-06-29 16:32] #75 closed

[2022-06-29 16:38] Sakurann commented on #75
PR #105 and #97

[2022-06-29 19:23] danielfett opened #106 "Proposal for blinding claim names"
I would like to propose a very simple and easy-to-implement approach to blinding claim names.

The idea is to add a new, optional, third element to the SD releases. Let's assume that there is a privacy-sensitive claims, that might show up in the SD-JWT, say `secret_club_membership_number`, and its mere existence should not be revealed to verifiers.

The issuer could create an SD-JWT as follows:

[

[2022-06-29 19:36] christianpaquin commented on #99
The spec shouldn't mandate or preclude a digest derivation function (DDF), but should require (MUST use) a collision- and preimage-resistant cryptographically secure one. Depending on the target application, a profile or deployment can mandate a particular DDF by requiring a particular hash function, KDF, or a more complex process (e.g., using truncated digests from strong hash functions to save s

[2022-06-29 20:45] danielfett commented on #80
You write

Just to ensure that we're all on the same page: These three are not defined in the spec and are not intended to be. There is just one type, it just so happens that the 'flat' structure will probably be a common use case. It is therefore used in Example 1. But it is really just a special case of an essentially arbitrary JSON object.

[2022-06-30 05:31] danielfett commented on #27
But how can a JSON schema prevent that *the same string* is represented using different bytes? Any validation in JSON schema is defined over the string value, not the bytes representing the string.

For arrays, you'll have the same problem.

These two will hash to different digests, but always either both be accepted by a JSON schema, or both be rejected:

[code]

[2022-06-30 06:52] danielfett commented on #84
I think having the schemas in the annex makes sense.

[2022-06-30 08:45] danielfett commented on #106
My note about #80 is not correct. The approach is actually quite similar. Besides the differences in the encoding (discussed in more detail in https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/27), the differences are that in my approach, the SD-JWT structure stays untouched (but may not contain claim names that are not actually the real claim names), whereas in @peppelinux appro

[2022-07-01 19:25] christianpaquin commented on #106
There is a wide variety of interesting features once you go down the privacy route: hiding the claim names, event hiding the issuer itself (which can be argued as sensitive as the claim name in some scenarios). I however think that issuers with a well-known public and fixed issuance schema is a far more common scenario, for which our proposed selective disclosure feature offers a simple and useful

[2022-07-01 19:32] christianpaquin commented on #103
FYI, that's what I currently do as a placeholder behavior in [my implementation](https://github.com/christianpaquin/sd-jwt), the disclosed claims are added in a `disclosedClaims` object in the returned JWT. It might not be right thing to do in all situations, but I think it would be useful to at least define one mechanism to do something like that (perhaps even encoding the claims directly in the

[2022-07-01 21:04] bc-pi commented on #30
Some feedback was received second hand from a crypto expert at a company that has actual crypto experts - and they indicated the tag scheme is not going to work. If the attacker knows the key + tag, it's apparently not too difficult to forge a message with new ciphertext that authenticates against the same tag.  I was (apparently naively) thinking that the AEAD tag provides similar properties to a

[2022-07-01 21:15] bc-pi commented on #106
I don't really know but suspect that one or just a few claim names being hidden still reveals quite a lot. The optionality is nice from some perspectives but also adds complexity in participants having to be able to handle both cases. I honestly don't know if obscuring the claim names is needed or legitimately valuable. But my sense is that it should be an all or nothing thing.

[2022-07-01 22:15] peppelinux commented on #106
I really appreciated this proposal Daniel

However, from an implementer point of view it's heavy to handle both cases

I vote for obscuring the claim names and start working on this new schema

I wont show to a rp how many claims I have in my VCs, even if these are linked to well knows schemas we know that the same claims can be adopetd by many schemas, at the same time

[2022-07-02 22:43] peppelinux commented on #27
@danielfett json schema validates json objects and not serialization of them in different bytes

once the signature of a JWT has been validated, a json schema can validate the structure of the artifact and all the values contained in it

so signature validation and content validation are different things

[2022-07-02 22:47] peppelinux commented on #80
For the structured claims we can adopt the same approach, exposing only the hashed values pointing to a json object that defines salt, value and claim name

[2022-07-03 00:27] peppelinux commented on #84
Ok, I can do a proposal in https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/61 once we decide the final structure

[2022-07-03 07:32] danielfett commented on #27
Exactly, that's why I don't see how a JSON schema would solve the c18n problem.

[2022-07-04 08:15] danielfett commented on #30
I'd just like to add that this is a very good point - AEAD assumes the attacker does not know the key, but here they key is known to all parties.

So to summarize the options we have:

1. Hashing, as currently in the main branch. Cons: The potential footgun of missing the hash check, slightly awkward JSON-in-JSON encoding. Pros: Aligned with mDL and established there, relatively compact, easy to i

[2022-07-04 12:04] danielfett commented on #80
If `sd_digests` is always flat, I assume that the 'structure' is reconstructed from the SD-JWT-R, where the holder uses parts of the structure from the SVC. In this case, how would you prevent a holder from tampering with the structure, e.g., moving a claim to a different part of the structure or creating a whole new structure?

[2022-07-04 12:21] peppelinux commented on #80
yes, I wonder on the possibile approaches, please add your thoughts. Regarding the structure:

1. Abandon JSON Object to embedded JWT. This proposal seems to be [declined here](https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/37). so, let's look forward.

2. define a rule, in the specs, about how the serialization of the json object must be done. No additional spaces and alphabe

[2022-07-05 22:40] Sakurann commented on #103
from the mailing list, how "merging" might look like in the vc-data-model example (also related to Issue #59)

Take an SD-JWT as below:
[code]
And merge it into
[code]

[2022-07-06 21:23] peppelinux commented on #98
No please 😄
What an underscore would tell more or better regarding the nature of those claim names?

[2022-07-06 21:28] peppelinux commented on #89
Yes, this is not the first time I hear this question, it's not banal at all

[2022-07-06 21:29] peppelinux commented on #79
We fixed this with the last commit

[2022-07-06 23:02] #79 closed

[2022-07-06 23:03] Sakurann commented on #79
please see PR #61

[2022-07-07 20:39] Sakurann opened #110 "[WIP] SD-JWT as a W3C VC-DATA-MODEL"
Current proposal is here: https://datatracker.ietf.org/doc/html/draft-fett-oauth-selective-disclosure-jwt-01#appendix-A.3
Alternative proposal is here: https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/103#issuecomment-1175572062

Guess yet another alternative would be:
[code]

[2022-07-07 22:32] peppelinux opened #111 "defining the SD-JWT claims family namespace"
in this draft we found as well defined the claims `sd_digests` and `sd_release` and then the claim `hash_alg`.
If this hash_alg belongs only to SD-JWT it wound't be better to rename it `sd_hash_alg`?

[2022-07-11 08:49] peppelinux opened #114 "[SD-JWT aggregation during Presentation] SD-JWT-R for multiple SD-JWT"
An Holder has two different JWT VCs issued by two different issuers and wants to disclose part of the attributes contained in these VCs in in a single Presentation.

Using Combined Presentation only a single SD-JWT with a single SD-JWT-R can be submitted (if I'm not mistaken).

Can we consider a way to redefine the Combined Presentation to allow multiple SD-JWTs to be submitted with a single SD-JW

[2022-07-11 10:32] danielfett commented on #114
This is a relevant use case, but may also be addressed by the protocol used for presentation. @tlodderstedt What's your opinion on this?

[2022-07-11 10:34] danielfett commented on #111
I would be fine with `sd_hash_alg`. It makes sense since the hash is used for the core functionality of the SD-JWT.

[2022-07-11 11:10] tlodderstedt commented on #114
There are protocols for carrying multiple presentation in the same exchange, so this use case can be solved on the protocol level.

However, I think there is some beauty in combined presentations. Combined presentation reduces the number of signatures to be created and checked for holder authentication/cryptographic holder binding and also requires the verifier to check audience restriction and tr

[2022-07-11 12:34] peppelinux commented on #111
Me or someone of us on a PR for this?
@Sakurann your comments are important

[2022-07-11 16:20] Sakurann commented on #32
Closing as duplicate of #33

[2022-07-11 16:33] Sakurann commented on #33
Closing as a duplicate of Issue #37

[2022-07-11 16:33] #33 closed

[2022-07-11 16:47] #30 closed, assigned to nobody

[2022-07-11 16:52] #73 closed

[2022-07-11 16:55] #64 closed

[2022-07-11 21:11] peppelinux commented on #106
Considering what we discussed during the last meeting, we can consider [this issue](https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/80) not of interest anymore and this current proposal can be the only one that may be developed.

I believe that for an extendibility of SD-JWT in the future we should consider to abandon the dumped array, eg: `"[\"G02NSrQfjFXQ7Io09syajA\", \"1940-

[2022-07-12 00:45] peppelinux opened #118 "[Tracking resistance] Nesting an encrypted SD-JWT combined presentation"
Considering that SD-JWT makes selective disclosure and many privacy features possibile in the data format level, without any costraint in the transport protocol adopted during the exchange, I was wondering how to make a combined presentation unique and not trackable in environment where that can be the risk of eavesdropping (NFC, BT, QR codes, any other link of proximity ...)

Adopting a JWE and a

[2022-07-12 01:14] Sakurann commented on #111
I am ok with `sd_hash_alg`, though it is already only present in SD-JWT.

[2022-07-12 06:30] peppelinux commented on #111
Ok, if you agree we may merge https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/115 and then https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/117 and a PR with this change will follow

[2022-07-12 07:55] Sakurann commented on #114
I would make it simpler, <SD-JWT-1 (3 parts)>.<...>.<SD-JWT-n>.<SD-JWT-R> without any nesting.
so the key would be to define how to include sd_digests for multiple SD-JWTs in one SD-JWT-R
and it should be made clear that this is the case when SD-JWT-R is not signed - ie, there is no holder binding; or, SD-JWT-R is signed but SD-JWTs are bound to the same holder key.

[2022-07-12 16:45] Sakurann commented on #118
Could you elaborate a little more what is being suggested? Is the idea to put multiple SD-JWT-Rs and SD-JWTs inside one JWE?
{header}.{
"SD-JWT-R-1": <...>
"SD-JWT-1": <...>
"SD-JWT-2": <...>
}.{signature}
kind of?

[2022-07-12 23:10] peppelinux commented on #118
Yes, on each submission the JWE will be different (due to jti, iat) making it non trackable.
an adversary can't track how many time an SD-JWT have been submitted to an endpoint or on the wire, because the JWE will be alway unique

the proposal of a nested structure for a combined presentation have been proposed here

https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/114#issuecomm

[2022-07-12 23:38] Sakurann commented on #114
What I meant by the second comment was multiple “sd_release”s in on SD-JWT-R. Which is sent separately from SD-JWTs. “sd_digests” was a typo, sorry

[2022-07-13 08:48] peppelinux commented on #118
a simple array in a claim defined for this scope

[code]

[2022-07-13 18:29] peppelinux commented on #114
yes, a SD-JWT-R which contains multiple SD-JWT in an array, I think that's the key!

[2022-07-14 09:36] danielfett commented on #106
Thanks @peppelinux, that's what I did (with one-letter keys for brevity).

See https://github.com/oauthstuff/draft-selective-disclosure-jwt/pull/124 for my draft code on this issue (no spec text yet).

These are the examples now in the spec - please review:

## Example 5: Some Blinded Claims

User claims:

{#example-simple_structured_some_blinded-user_claims}
[code]

SD-JWT Payload:

{#example-sim

[2022-07-14 09:42] danielfett opened #125 "Change title to 'Selective Disclosure for JWT'"
_Originally posted by @bc-pi in https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/60#issuecomment-1167782800_

I have come across this also while preparing the presentation for IETF. I think 'Selective Disclosure for JWT' would make more sense than the current title.

[2022-07-14 20:56] #111 closed

[2022-07-14 22:53] bc-pi commented on #125
Concur (obviously).

[2022-07-14 23:46] peppelinux commented on #106
@danielfett you got it in the super right way!
definitively my hero

[2022-07-14 23:46] peppelinux commented on #80
Closed by https://github.com/oauthstuff/draft-selective-disclosure-jwt/issues/106

[2022-07-14 23:46] #80 closed

[2022-07-15 09:10] danielfett commented on #27
It looks like we'll be keeping this awkward-looking but well-working JSON-in-JSON, I guess? @peppelinux Can we close this from your side? (We'll add more explanation as agreed in Issue #51).

[2022-07-15 16:15] #27 closed

[2022-07-17 22:08] Sakurann commented on #87
So in layman terms, what is being proposed in this PR and the issue are the following security goals, correct?
1. SD-JWT does not allow the attacker to find the claim values that were intended to be disclosed to another legitimate verifier.
2. SD-JWT does not allow the attacker to obtain claims even if it has access to all of the protocol exchanges between the holder and the legitimate verifier.
3

[2022-07-17 22:13] Sakurann commented on #87
I agree we need to explain security goals of the design choices made in SD-JWT document. Could we first agree on those security goals?

To those three outlined in this document above, I would add basic ones:
- Integrity protection - Issuer's signature on SD-JWT
- optionally, when holder binding is present - prevention of cloning of SD-JWT and MITM by signing the release using holder's key

I am su

[2022-07-17 22:14] Sakurann commented on #87
Once we agree on the security goals, could we also brainstorm fitting terms - "strong uncoverability", "weak uncoverability", "release confidentiality", "unforgeability" have not been the most intuitive for me, but maybe that's only me.

[2022-07-18 15:41] Sakurann commented on #91
discussed with Daniel the direction: "if you have a transport that has this properties, you can get the following privacy projections. Probably with some limitations. Some things are not fulfillable when entities collaborate - ie when RP-RP' or Issuer-RP collaborate."

[2022-07-18 15:56] #77 closed

[2022-07-18 18:43] nikosft commented on #110
I believe that this alternative violates the definition of SD-JWT in [section 4.1](https://datatracker.ietf.org/doc/html/draft-fett-oauth-selective-disclosure-jwt-01#section-4.1). In particular, I uderestand that this alternative is not of the form

[code]

[2022-07-19 06:03] Sakurann commented on #110
yes, the idea was to add a sentence in the SD-JWT specification that profiles of the specification MAY define other places to include `sd_digests`.

[2022-07-19 10:07] dtmcg commented on #76
yea mostly, what it achieves is that there are no new data types which need to understood, everything is in JWT with a longer signature, the verification of the jwt signature can be encapsulated into the jwt libs with a new algo handler

[2022-07-19 12:29] danielfett commented on #76
If the SD-JWT-R contains the hashes and salts and is always released in full, we lose the selective disclosure property. The salts prevent guessing the plain-text values. Without them, it would be trivial, e.g., to guess a birth date (and many other claims as well).

[2022-07-20 13:00] sakimura commented on #91
Sorry, I did not have time to review it till now. I will do so tomorrow
morning. (I have another three hours of calls remaining today...)

On Tue, Jul 19, 2022 at 12:53 AM Kristina ***@***.***> wrote:

--
Nat Sakimura (=nat)
Chairman, OpenID Foundation
http://nat.sakimura.org/
@_nat_en

[2022-07-23 23:40] peppelinux commented on #103
@Sakurann I'd prefer the adoption of the claim `sd_digests`

the hashed claims value are not the claims values and I think it's important giving, in a way or another, a clear type for each value, the container sd_digests and sd_releases do a good job for that.

in alternative I wonder if we may adopt a VC scheme defining a new type like

[code]
and VerifiableSelectiveDisclosableCredential comes wi

[2022-07-24 18:39] Sakurann commented on #114
but than we would need to include `id` or something inside `sd_release`s so that the verifier knows which release to use with which  SD-JWT...

+ for a general direction I am not suggesting to put SD-JWTs inside Releases, Release is still sent separately.. Though SD-JWT-VCs will be inside SD-JWT-R-VPs

[2022-07-24 20:48] peppelinux commented on #114
Ok, my concern Is that implementing a parser of multiple concatenated jwts can be a pain and this solution sounds more like a compromise

Consider that a jwt could be encrypted, having more thank 3strings separated by a period chat

For these reason I'd prefer a jwt that contains One or more sd-jwts, in a intellegibile claim, and a single sd_release

[2022-07-25 11:21] danielfett commented on #114
That's why I proposed to introduce a generic character to separate concatenated JWT in the very beginning of this work. As I mentioned in the chat, `~` might be a good choice. We would also use this to concatenate the SD-JWT and SVC when they are sent to the client.

This avoids the overhead that nested JWTs bring, which can be important for QR code and NFC use cases.

[2022-07-27 18:15] Sakurann opened #129 "verifier ignoring holder's keys"
@tplooker pointed out that verifiers who do not understand `cnf` (or any other claim used to pass holder's key info), verifier will ignore it per JWT's extensibility model. So the attacker takes an issuer-signed item out of a holder-signed item and only sends issuer-signed to the verifier. issuer's signature will pass, and verifier will ignore holder's key info.
JWT's extensibility model backfirin

[2022-07-27 19:35] danielfett commented on #129
Not exactly sure how the attack works. Whatever is signed by the issuer contains the `cnf` claim (or doesn't). The attacker cannot remove that claim.

But even if we assume that the  attacker can remove the claim, that would mean that the verifier bases its decision whether to require holder binding or not on information solely defined by the issuer - that is strange, it should be defined by the u

[2022-07-27 20:14] peppelinux commented on #129
I think that the proof of possession in terms of Holder's publick key bounded in the SD-JWT should be defined in the trust framework. The verifier should (or not) prove the possession of the holder.

how this can be achieved?

JWT gives some liberties but cnf is a standard claim and if it's regulated by the rules of a federation the Verifier should verify the cnf value in conformance of the PoP re

[2022-07-27 20:24] danielfett commented on #129
Agree, if the spec is used within a trust framework, the requirement for PoP would probably defined there.

It's the holder proving possession, the verifier checks the proof.

[2022-07-27 20:35] peppelinux commented on #129
yes, my english hits again

[2022-07-28 03:09] tplooker commented on #129
Yep you're correct, let me try to explain it a little further

The underlying extensibility model for JWT payloads relies on parties ignoring values they don't understand. Therefore layering in new security related parameters like the `cnf` claim which is optional in the context of general JWTs (e.g un-profiled) which means that a risk does exist that a JWT containing a `cnf` claim could be sent t

[2022-07-28 03:40] tplooker commented on #129
I realise this isn't the first/only example of where the general nature of JWT's can mean cross contextual use (e.g cross profile) can lead to these sorts of issues, however it does appear different in the PoP case given that it affects the cryptographic verification process. For instance could it not be plausible that an implementation of SD-JWT only supports the non-holder bound variation?

[2022-07-28 18:17] Sakurann opened #131 "rename SD-JWT-Release to SVC-Release?"
Some have asked what is "Release"? In short it's a subset of SVC that contains only those claims that the user has consented to share.
maybe SVC -Release is better? (I am also perfectly fine keeping it as is)

[2022-07-28 18:24] Sakurann opened #132 "add guidance on how the issuers choose how to blind claim names"
user has 2 SD-JWTs from the same issuer, same blinded claim names can be used to correlate the user.
advice to have a fresh blinded claim name for each credential.

[2022-08-04 19:48] #125 closed

[2022-08-04 19:59] Sakurann commented on #74
what is the use case when only SD-JWT is returned in HTTP Response?

[2022-08-04 21:55] peppelinux commented on #74
During the issuance of a VC the VCI releases both SD-JWT and SVC, combined in a single artifact, this artifact should have a content-type, then the receiver is able to know what it is and process it in the right way.

I don't have any use-case with an issuance response with the sd-jwt alone

[2022-08-18 22:57] Sakurann opened #133 "Clarify SD-JWT and SVC is different"
Received feedback from Vittorio that this text is confusing: "The structure of sd_release object in the SD-JWT-R is the same as in SD-JWT" - whether SD-JWT and SVC are different objects or are different. Need to paraphrase/clarify

[2022-08-18 23:25] peppelinux commented on #133
yes, when we moved from `sd` to `sd_release` we probably introduced this kind of typo.

[2022-08-25 22:58] vibronet commented on #133
New release didn't fix it tho :)

[2022-08-25 23:04] Sakurann opened #134 "rename "SVC" to "Disclosure document"?"
feedback from @bifurcation that term "SVC" too specific to the approach, and does not capture the purpose - suggestion to rename it to "disclose document"

[2022-08-25 23:04] Sakurann commented on #50
PR merged

[2022-08-25 23:04] #50 closed

[2022-08-25 23:05] Sakurann commented on #99
cc @bifurcation

[2022-08-25 23:46] Sakurann commented on #99
yes, the issuer of SD-JWT can deny hashing the claims, but the issuer cannot deny signing over the whole SD-JWT. Or is the concern that the malicious verifier can change the claim values and regenerate the hashes, but issuer will not have the means to prove that it originally generated different hashes?

[2022-08-27 05:09] Sakurann commented on #99
(on further discussion with @christianpaquin)

The spec should not mandate a particular digest derivation function, just like JWS does not mandate a signature algorithm. A random value used to generate a digest can be a salt (hash algorithm) or a key (HMAC). The former can be useful when there are constrains in space (e.g., to fit in a QR code), while the latter is more complex, but can help prote

[2022-08-29 13:31] christianpaquin commented on #99
To clarify, all approaches must protect against brute-force attacks on the undisclosed attributes. If your target SD-JWT size is limited (e.g., in a QR embedding scenario), then you can sacrifice the salt and digest lengths by using a more expensive digest derivation function (e.g., PBKDF2-HMAC-SHA256-310000), as prototyped in [this project](https://github.com/christianpaquin/selective-disclosure)

[2022-09-05 06:50] Sakurann commented on #114
So the options we have now are:
1. concatenating multiple SD-JWTs using `~` + Release
2. including multiple SD-JWTs inside a JWT + Release
3. including SD-JWTs inside a Release

what is the benefit of 2 over 3?

[2022-09-05 06:54] Sakurann commented on #114
also, if SD-JWT-R contains multiple `sd_releases`, we need to introduce the mapping which `sd_release` maps to which SD-JWT, a feature provided `presentation_submission` in Presentation Exchange v.2.0.

I wonder how we draw a line with what is defined in a transport protocol - for example, OpenID4VP mandates using `presentation_submission` for this purpose, so if another mechanism is chosen by SD-

[2022-09-05 09:07] peppelinux commented on #114
I'd be for including one or more SD-JWTs inside a Release in JWT format, because this create a consolidated presentation with a specific content-type.

the mapping could be made using jti if present in the SD-JWT, anyway even without a mapping an implementation will iterate all the values to find witch matches,

issuing a jti in SD-JWT would confirm the adoption of a BCP and not a mandatory requir

[2022-09-05 22:27] Sakurann commented on #74
so application/sd-jwt+svc will be used during issuance request and application/sd-jwt-release will be used during presentation request? SGTM
(cc @bc-pi)

[2022-09-06 15:52] fabian-hk opened #137 "Python Code Incomplete Implementation of cnf"
The Python code puts the holder key directly into the ``cnf`` field:
[code]
but in the draft examples there is a ``jwk`` sub key:
[code]
After RFC7800 the draft examples should be correct. So do we have to update the Python code?

[2022-09-06 16:10] bc-pi commented on #74
IMHO this is a bit premature and maybe unnecessary. Because I'd imagine these artifacts will most likely be used in places, such as within the JSON content of API messages or HTTP header, where a content/media type isn't relevant.

It maybe makes sense for the case of the SD-JWT and SVC being returned together as the HTTP response content. I *still* (as mentioned previously including in Philly) th

[2022-09-16 13:41] Muthurajj opened #139 "Regarding VC and VP generation"
Does this library support for generating VC and VP?

If so can we integerate and pass claims from java ?

[2022-09-19 07:46] Muthurajj opened #140 "Pls responed for this-How to include this in example simple"
"vc": {
    "@context": [
      "https://www.w3.org/2018/credentials/v1",
      "https://www.w3.org/2018/credentials/examples/v1"
    ],
    "type": [
      "VerifiableCredential",
      "UniversityDegreeCredential"
    ],

[2022-09-20 04:49] Muthurajj commented on #103
We have to merge the context and type in the claims ?

[2022-09-20 05:16] Sakurann commented on #103
no, there is only one `@context` and `type` claims in this SD-JWT-VC/SD-JWT-R

[2022-09-20 05:43] Muthurajj commented on #103
I have mailed you doubts regarding VC can you pls respond ?

[2022-09-20 06:53] Sakurann commented on #103
sorry, don't think we've received them?

[2022-09-20 07:20] Muthurajj commented on #103
1.Can we generate VC using SD-JWT?

2.What is the verification_process and sub that you have mentioned in example yml file

3.If we can generate VC what should we change?

4. How to generate context and type like you have mentioned in document example 4?

5.Openid connect include in this library?

[2022-09-20 20:23] sbutterfield opened #141 "SD-JWT Proposed alternative to inline, escaped JSON values"
## Problem statement

Currently, in sd-jwt spec, the recommended representation for JSON property values is to embed escaped JSON that represents a salted hash of the value. This seems to add complexity, room for error, and superfluous verbosity. Instead, specifying that claims in an "_sd" container are themselves ONE OF the following:
(a) simple plain-text values
(b) an object of specified proper

[2022-09-20 20:57] OR13 commented on #141
[code]

I wonder if these are `iss` or `kid` or both (as is the current example).

[2022-09-20 21:06] sbutterfield commented on #141
It's a really good question, Orie. The way I thought of it was the identifier `kid` - but it's something I just happened to add here for consideration. Instead of `did:jwk`, could it be any DID method URL allowing issuer-specific claim binding? or "any party" specific claim binding?
Maybe putting `did:` there is the wrong idea altogether. I'd love to iterate on it.

[2022-09-20 21:10] sbutterfield commented on #141
I think this is a key question I'm poking at here. Could sd-jwt be better off not **_over-specifying_** a canonicalized form, allowing room for implementation specs unique to the domain of use for the sd-jwt spec?

[2022-09-21 00:01] sbutterfield commented on #132
Instead of opening a new issue from our conversation this morning - here is the excerpt & suggestion from the document we discussed:
## blinding the attribute name
First off, maybe it's informational or maybe it's specified - issuers should not include "secrets" in claim labels. If a label for something is actually a secret, it should be treated as such. That said, I get that this scenario must be

[2022-09-21 00:04] sbutterfield commented on #131
Should it just be called `Disclosure`?

[2022-09-21 00:04] sbutterfield commented on #134
+1

[2022-09-21 05:08] Muthurajj commented on #103
I am new to python pls help me

[2022-09-21 06:54] Muthurajj opened #142 "Can we achieve this structure ??"
{
  "sub": "did:example:ebfeb1f712ebc6f1c276e12ec21",
  "jti": "http://example.edu/credentials/3732",
  "iss": "https://example.com/keys/foo.jwk",
  "nbf": 1541493724,
  "iat": 1541493724,
  "exp": 1573029723,
  "vc": {
    "@context": [
      "https://www.w3.org/2018/credentials/v1",
      "https://www.w3.org/2018/credentials/examples/v1"
    ],
    "type": [
      "VerifiableCredential",
      "

[2022-09-21 07:29] danielfett commented on #141
As discussed on our call with Shawn yesterday, it is important to separate the representation of values in the credential (SD-JWT) from the actual values of properties that are resolved after the verification of the presentation (SD-JWT and SD-JWT-Release). The use of the escaped JSON in the credential is what allows SD-JWT to support any type, including objects, for property values. Ideally, anyt

[2022-09-21 13:17] OR13 commented on #141
Sometimes you have avoid escaping by translating... I've used https://www.npmjs.com/package/json-pointer do do selective disclosure with merkle proofs before... I would rather have JSON Pointer as a dependency than see escaped JSON payloads or have to manage transforms that were only defined in the sd-jwt spec.

[code]

There are other approaches considered here: https://github.com/w3c-ccg/Merkle-

[2022-09-21 13:34] danielfett commented on #141
I'm not following - can you give an example how JSON pointers or the code above would solve the hashing problem?

[2022-09-21 13:37] danielfett commented on #141
Interestingly, JWTs are an example where normalization was avoided by just encoding the whole body into the token without any normalization, not unlike what we're doing in SD-JWT. (The header is treated differently, but that is a very controlled and small data set.)

[2022-09-21 15:24] sbutterfield commented on #141
@danielfett, not sure if you saw this new bit from my write-up:

Fully compacted (in the case of a JSON graph)
Encoded using utf-8 octal, base_xyz_, hex, or some other specific encoding scheme
Then salted and hashed?

Similar to the JWP spec, pre-encoding the value using utf-8 octal byte array (or something else, I don't care), then salting and hashing (JWP generates a proof instead).

[2022-09-21 15:37] sbutterfield commented on #141
I _think_ what you want to ensure is that the issuer's intended data format is assured and therefore the hash is always reproducible. With a byte-level encoding, to my knowledge, I cannot think of a language or library that screws this up (although I'm sure one exists), which is why many universal "XYZ to hash" producer libraries reify values in some encoded byte format.

[2022-09-21 17:26] #133 closed

[2022-09-21 17:41] Sakurann commented on #103
1.Can we generate VC using SD-JWT?
-> yes. we are in the process of defining how

2.What is the verification_process and sub that you have mentioned in example yml file
-> verification_process might be ekyc-ida claim, `sub` is a registered JWT claim

3.If we can generate VC what should we change?
-> being discussed, please see example 4 for the current approach

4. How to generate context and type

[2022-09-22 08:43] Muthurajj opened #143 "VC generation in sd-jwt"
1.Can we generate VC using SD-JWT?

2.What is the verification_process and sub that you have mentioned in example yml file

3.If we can generate VC what should we change?

4.How to generate context and type like you have mentioned in document example 4?
5.Openid connect include in this library?

[2022-09-22 08:44] Muthurajj commented on #103
thank you so much

[2022-09-22 14:27] sbutterfield commented on #100
Is it better to specify a subset directly in the spec?

This makes logical sense. Still doesn't get around the need for hash function specificity to ensure the attributes have sufficient cryptographic strength.

[2022-09-22 14:38] sbutterfield commented on #141
@OR13,
If I try and catch your drift here, your approach would be to process the value sub-graph into JSON pointers and then generate merkle set membership proofs for each fragment - is that right? Then, use the concatenation of the merkle proofs as the value for the salted attribute?

[2022-09-22 14:41] sbutterfield commented on #110
Just a thought: Should this be an extension spec `vc-sd-jwt` to separate out the responsibility of mapping something foundational (sd-jwt) to something intermediate (vc datamodel)?

[2022-09-22 17:19] OR13 commented on #141
I showed how to convert an object to a set of messages.

You would want to apply the blinding to the messages.

The approach I showed is similar in that it relies on JSON encoding of strings.

[2022-09-23 07:31] danielfett commented on #141
@sbutterfield: Are you thinking about putting the pre-encoded value into the document produced by the issuer and then sent to the holder (what we call SVC in SD-JWT)?

@OR13: I don't see how this approach would reduce complexity or make life easier for implementers. Why is an intermediate representation as a set of messages better than one where some values are JSON strings? In both cases, anybody

[2022-09-23 20:52] bc-pi commented on #141
The aesthetics of the string values with escaped JSON are not great, at best. But it obviates the need to do c18n/normalization with a straightforward approach that doesn't come with other baggage. I believe the draft should do a better job explaining that rational but stick with the current approach.

[2022-09-27 19:19] sbutterfield commented on #141
@danielfett
Basically, yes. Let me try and clarify with some examples to see if it makes sense. The encoding methodology employed here is similar to what some standards already employ and seems to be normatively used in JPT.

First for a property value that we want to blind (let's use some arbitrary JSON):
[code]

Must first be in compact form (normatively):
[code]

Next, using a natively availabl

[2022-09-27 23:27] #137 closed

[2022-09-28 06:54] danielfett commented on #141
So the string
`123,34,97,114,114,97,121,34,58,91,49,44,50,44,51,93,44,34,98,111,111,108,101,97,110,34,58,116,114,117,101,44,34,99,111,108,111,114,34,58,34,103,111,108,100,34,44,34,110,117,108,108,34,58,110,117,108,108,44,34,110,117,109,98,101,114,34,58,49,50,51,44,34,111,98,106,101,99,116,34,58,123,34,97,34,58,34,98,34,44,34,99,34,58,34,100,34,125,44,34,115,116,114,105,110,103,34,58,34,72,101,108,

[2022-09-28 19:46] sbutterfield commented on #141
It's not inline escaped json

[2022-09-29 04:58] Sakurann commented on #131
I would be ok with `Disclosure` @danielfett ?

[2022-09-29 04:59] Sakurann commented on #134
can do a PR, if you agree @danielfett

[2022-09-29 05:17] Sakurann commented on #142
current python code supports only example 1 and not VCs as in example 4

[2022-09-29 05:18] Sakurann commented on #142
there are also 3 other implementations in different languages jfyi

[2022-09-29 14:43] danielfett commented on #140
See Issue #142.

[2022-09-29 14:43] #140 closed

[2022-09-29 14:47] danielfett commented on #143
1: See Issue #142
2: See the eKYC spec for the verification_process, but the value here is only an example
3/4: The aim of the current python code is not to generate VCs, but to generate (more general) SD-JWTs.
5: I don't understand this question.

[2022-09-29 14:47] #143 closed

[2022-09-29 14:47] danielfett commented on #139
See Issue #142

[2022-09-29 14:47] #139 closed

[2022-09-29 15:15] Sakurann opened #144 "Add an example of ISO 18013-5 data model as SD-JWT"

[2022-09-29 15:46] Sakurann commented on #106
change it to "using the same salt to generate a digest of a claim name when blinded"

[2022-09-30 10:10] danielfett commented on #103
Addressed in PR #146

[2022-10-01 04:40] Sakurann commented on #89
PR #147

[2022-10-01 04:53] Sakurann commented on #134
PR #148

[2022-10-01 05:07] Sakurann commented on #131
PR #148
Just Disclosure was confusing with Disclosure Document (renamed from SVC per #134) so chose SD-JWT-Disclosure/SD-JWT-D

[2022-10-04 06:16] Sakurann commented on #99
PR #149

Section 7.5 already states `For the security of this scheme, the hash function is required to be preimage and collision resistant`.

[2022-10-04 16:59] Sakurann commented on #134
Tried a PR, "disclosure document" and it does not sound clear enough..

the purpose is for the issuer to tell the holder the mapping of salts, claim names, claim values, (and optionally blinded claim values), that the holder uses to create a SD-JWT-Disclosure.

Any better suggestions?

[2022-10-04 17:08] Sakurann commented on #114
editors want to propose switching to including base64url encoded SD-JWTs in the SD-JWT-Release (vc-data-model approach), from the current approach of passing Release and SD-JWT as separate objects.
this would be extensible to allow multiple SD-JWTs in one Release without going into specifying how to do multiple release
we agree that defying multiple releases itself is out of scop efor sd-jwt but t

[2022-10-11 08:19] sakimura commented on #95
I can point to the most recent draft of FAPI 2.0 Security profile here:
https://openid.bitbucket.io/fapi/fapi-2_0-security.html

Having said that, if you go to OpenID Foundation's specifications page
(there is a link in the top menu bar), you will find more of FAPI specs, of
which FAPI 1.0 is a final and well-deployed specification. OpenID
Foundation's specification page ==> https://openid.net/dev

[2022-10-13 17:17] Sakurann commented on #114
potentially add a text that this spec defines one way to send an SD-JWT-R, but profiles can define alternative ways (like in VC-DATA-MODEL)

[2022-10-17 07:30] danielfett commented on #103
The PR has been merged.

[2022-10-17 07:30] #103 closed

[2022-10-17 07:33] #51 closed

[2022-10-17 07:42] danielfett commented on #132
Right now, it is RECOMMENDED that a random string is chosen for the blinded claim name. HMAC(salt, claim-name) and HASH_ALGO(LABEL + SALT) would be fine as well, but there's more room for errors, especially as holders/verifiers might expect a specific format and then reject an SD-JWT when, e.g., the issuer chose a wrong encoding or similar.

I don't see a real advantage of using HMAC/HASH_ALGO for

[2022-10-17 08:01] danielfett commented on #106
The choice for names for blinded claim names is discussed in Issue #132. Since the rest has been merged, I'll close this issue.

[2022-10-17 08:01] #106 closed

[2022-10-18 15:43] Sakurann commented on #28
`If verifier is supposed to check the signature, do not accept alg=none`. When to check the signature is up to the Verifier's trust framework/policy, etc.)

with alg=none, attacker can remove the signature from a valid SD-JWT and replace it with alg=none, but one can make the same mistake even if JSON is used because attacker can remove both header and the signature.
it adds more confusion because

[2022-10-18 15:54] danielfett commented on #28
See also https://datatracker.ietf.org/doc/html/rfc8725#section-3.2

[2022-10-18 15:56] Sakurann commented on #57
there is no JSON-encoded ISO mDL defined right now.
also duplicate of Issue #144.

[2022-10-18 15:56] #57 closed

[2022-10-18 16:03] danielfett commented on #98
We decided to keep the current claim names with the `sd_` prefix.

[2022-10-18 16:03] #98 closed

[2022-10-19 06:33] Sakurann commented on #99
PR merged

[2022-10-19 06:33] #99 closed

[2022-10-19 06:33] Sakurann commented on #89
PR merged

[2022-10-19 06:33] #89 closed

[2022-10-19 10:52] peppelinux opened #156 "typo in python code after #149"
@Sakurann sorry for the late revision

it seems that here we have merge conflicts exposed
https://github.com/oauth-wg/oauth-selective-disclosure-jwt/pull/149/files#diff-ce646751295775c4b20fb384cedc0e3374a9c288cc7c93c345f227a422979f46R12

_Originally posted by @peppelinux in https://github.com/oauth-wg/oauth-selective-disclosure-jwt/issues/149#issuecomment-1283809439_

[2022-10-19 11:12] danielfett commented on #156
I think this was fixed in a later revision. I don't see it in master.

[2022-10-19 13:53] #156 closed

[2022-10-19 16:21] danielfett commented on #129
I added new text during my last review that addresses this topic. Please review!
https://github.com/oauth-wg/oauth-selective-disclosure-jwt/pull/155/files#diff-40bc3800dd9a7d4411799637caf0b01f82a01242d57264a2e4beb408c3835704R986-R1026

[2022-10-19 18:02] Sakurann commented on #131
renamed to

:  A JWT created by the Holder that contains the Disclosures from an Issuer-Issued Disclosures Object that the Holder is disclosing to the Verifier. In addition to the Disclosures, it can contain other properties and may be signed by the Holder.

[2022-10-19 18:02] #131 closed

[2022-10-19 18:52] sbutterfield commented on #132
@danielfett it's not super clear to me how:
[code]
would alleviate your concerns here: _"but there's more room for errors, especially as holders/verifiers might expect a specific format and then reject an SD-JWT when, e.g., the issuer chose a wrong encoding or similar"_

Maybe I'm missing something obvious but I don't see much difference in how holders & verifiers would treat these various approac

[2022-10-20 09:01] danielfett commented on #47
I addressed this here: https://github.com/oauth-wg/oauth-selective-disclosure-jwt/pull/155/files#diff-40bc3800dd9a7d4411799637caf0b01f82a01242d57264a2e4beb408c3835704R800-R817

and here: https://github.com/oauth-wg/oauth-selective-disclosure-jwt/pull/155/files#diff-40bc3800dd9a7d4411799637caf0b01f82a01242d57264a2e4beb408c3835704R652-R668

[2022-10-20 15:09] sbutterfield commented on #132
I see, thanks for explaining that. I'm fine with option 1 if the goal is to reduce cognitive complexity for the application developers - it makes sense.

[2022-10-22 01:56] Sakurann opened #159 "A section summarizing features"
I think we need a section summarizing what kind of claims SD-JWT can consist of...

- claims in SD-JWT can all be selectively disclosable claims, or can also include always-disclosed claims
- claim names in SD-JWT can all be blinded, or can include non-blinded claim names
- claim structure can be simple or complex and claims in the complex structure can be blinded/not-blinded and disclosable/not-d

[2022-10-24 15:44] Sakurann commented on #28
PR #155

[2022-10-24 16:25] #159 closed

[2022-10-24 16:27] Sakurann commented on #132
PR #155 and PR #158

[2022-10-24 16:27] Sakurann commented on #129
PR #155

[2022-10-24 16:49] #132 closed

[2022-10-24 16:49] #129 closed

[2022-10-24 16:49] Sakurann commented on #28
PR merged

[2022-10-24 16:49] #28 closed

[2022-10-24 17:05] Sakurann commented on #59
PR #162, PR #161

[2022-10-24 17:05] #59 closed

[2022-10-24 18:47] Sakurann commented on #100
mainly PR #149

[2022-10-24 18:56] Sakurann commented on #110
PR #162

[2022-10-24 18:57] Sakurann commented on #95
this is an IETF draft and I do not believe there is a requirement to comply with ISO or OIDF style - there are IETF RFCs that mandate certain format and numbering/listing paragraphs is not one of those, if I am correct.

[2022-10-24 20:00] #47 closed

[2022-10-24 20:02] Sakurann commented on #36
Current choice is to concatenate SD-JWT and HS-Disclosures JWT: https://github.com/oauth-wg/oauth-selective-disclosure-jwt/pull/155/files#diff-40bc3800dd9a7d4411799637caf0b01f82a01242d57264a2e4beb408c3835704R831

Noting that it is inconsistent with how vc-data-model defined for a vc to be sent inside a vp

[2022-10-24 20:02] #36 closed

[2022-10-24 20:07] Sakurann commented on #37
the guidance on how to link the structures has been addressed in several PRs.

However, keeping this open to discuss if we want to add an option to encrypt II-Disclosures Object (former SVC) - @danielfett ?

[2022-10-24 20:11] Sakurann commented on #85
Just like the Issuer is not an admin using Issuance infrastructure, and Verifier is not a police officer but a SW app it uses, Holder is meant not as a human being, but a SW application used.

[2022-11-02 20:04] bc-pi opened #165 "missing word -01"
https://www.ietf.org/archive/id/draft-ietf-oauth-selective-disclosure-jwt-01.html#section-5.8-3

"For each claim, a JSON literal that decodes to an object with the and the claim value (plus optionally the claim name) is contained in the sd_hs_disclosures object." -> "... decodes to an object with the *salt* and the claim value (plus ..." or something about the salt I think.

[2022-11-02 21:13] bc-pi opened #166 "validate what? -01"
https://www.ietf.org/archive/id/draft-ietf-oauth-selective-disclosure-jwt-01.html#section-6.2-3.5.1 has, "Validate the HS-Disclosures JWT: ... If Holder Binding is required, validate the signature over the SD-JWT using the same steps as for the SD-JWT plus the following steps:", which can't be right with both mentions of SD-JWT.

Furthermore I'd strongly suggest that validation steps for the HS-Di

[2022-11-06 18:24] Sakurann commented on #165
It has been fixed - you can see in the latest editor's version - will be in -02
https://drafts.oauth.net/oauth-selective-disclosure-jwt/draft-ietf-oauth-selective-disclosure-jwt.html#section-5.8-3

[2022-11-06 18:24] #165 closed

[2022-11-07 14:31] Sakurann commented on #166
I would be strongly in favor of saying HS-DIsclosures is an object - always unsigned - that includes only `sd_hs_disclosures`. and that part is absolutely normative in SD-JWT spec.

this would allow us to define an optional Holder binding mechanism that requires a signed JWT - that includes nonce, aud, etc.
meaning if NO holder binding - 4 `.` separated parts like issuance. if yes holder binding -

[2022-11-07 14:53] bc-pi commented on #166
I'm sure this is no surprise but I'm very much in favor of moving in that direction, @Sakurann. It's a bigger scope than was intended by this issue. But is exactly where I was hoping the conversations in London this week would lead.

The HS-DIsclosures object could drop the sd_hs_disclosures key too and have one less level of nesting (simpler and smaller).

i.e. just,

[code]

[2022-11-08 08:21] Sakurann commented on #166
(This is also larger than this issue, but) With this new approach, the combined formats could be expressed with each component being separated by the tilda and if there are multiple SD-JWTs (w/ HSD objects) being presented with one Holder Disclosure JWT, they can be separated with two tildas:
“sd-jwt~hsd-object~~sd-jwt~hsd-object~~sd-jwt~hsd-object~~HD JWT”

If hsd-object is absolutely one per as-

[2022-11-08 10:10] bc-pi opened #169 "digest algorithm agility needs refinement"
As discussed during IETF 115, the approach to hash algorithm agility in -01 is problematic and needs some refinement. *Some* of the issues that jumped out at me are listed below. But I *think* that simplifying to just the hashes might be the way to go.

- Where does the HMAC key come from? The salt value that would conceptually/presumably be the HMAC key is part of the string literal value that th

[2022-11-10 15:13] cobward opened #170 "Avoid leaking information with number of digests."
In order to prevent the number of digests leaking any information, ISO-18013-5 suggests adding additional digests that do not correlate to any of the hidden elements. The recently suggested format of sd-jwt would mean you would have to add these at every level that hidden elements are defined:

[code]

This obviously adds a lot of bloat. A better alternative for this would be for all selective-dis

[2022-11-11 10:57] Sakurann opened #171 "Refactor the spec text and the code to the approach agreed in IETF 115:"
Refactor the spec text and the code to the approach agreed in IETF 115 described here:
https://docs.google.com/presentation/d/1Hc3xBNN2RL9usCJQKQetrCRk7nYFw6OSLMZPvs1fh_Q/edit?usp=sharing

`+ probably add Justin's suggestion to put hashes in an array as opposed to having them as separate top-level items.

[2022-11-11 10:57] Sakurann opened #172 "add Brian as an editor"

[2022-11-16 16:15] danielfett opened #173 "Talk about language tags in claims"
- Add example
- Holder has to release all necessary language tags

[2022-11-22 18:52] Sakurann opened #175 "Location of "Challenge of Canonicalization Section""
Suggest we move this section lower, as with the new encoding approach I anticipate less questions regarding canonicalization, while this is a good clarification.

https://github.com/oauth-wg/oauth-selective-disclosure-jwt/pull/174/files#r1028969018

[2022-11-22 18:53] Sakurann opened #176 "terminology "Source String hardening""
Might be clear enough, or might need alternative suggestion.

https://github.com/oauth-wg/oauth-selective-disclosure-jwt/pull/174/files#r1028968119

[2022-11-22 19:11] Sakurann opened #177 ""structured data" or "nested data"?"
+1 to nested data re conversation here: https://github.com/oauth-wg/oauth-selective-disclosure-jwt/pull/174/files#r1029001951

[2022-11-22 19:15] Sakurann opened #178 "editorial"
add a text somewhere before "combined format for presentation" saying that "how to send disclosures alongside SD-JWT" will be described later in the text.

[2022-11-23 12:30] danielfett commented on #171
This was done in PR #174 which has been merged.

[2022-11-23 12:30] #171 closed

[2022-11-23 12:31] danielfett commented on #170
This has been solved in the recently merged PR #174. We did not pull the sd hashes to the top level, as the structured approach encourages secure implementations (see "Verification by the Verifier" and "Manipulation of Disclosures" sections in the updated document).

[2022-11-23 12:31] #170 closed

[2022-11-23 12:37] danielfett commented on #142
We added an example in the document with PR #174 that shows a W3C VC. The example is generated from the python code.

[2022-11-23 12:37] #142 closed

[2022-11-23 12:40] danielfett commented on #118
We discussed this at the IETF meeting in London. I think it is clear that we will not support multiple SD-JWTs in the format itself, as this opens up a whole new layer. For example, we would need to talk about relationships between SD-JWTs, what happens if only single credentials fail validation, etc.; all of this is not strictly related to the credential format and is much better handled on the t

[2022-11-23 12:42] danielfett commented on #110
This has been superseded by the changes we made in PR #174. An example for a W3C VC is contained in the appendix.

[2022-11-23 12:42] #110 closed

[2022-11-23 12:44] danielfett commented on #90
We switched to a format that is also used in other published RFCs. The new format has a bit too much wide space, but otherwise works fine.

[2022-11-23 12:44] #90 closed

[2022-11-23 12:46] danielfett commented on #84
We have now once more updated the structure of SD-JWTs. @peppelinux Do you see an advantage of a JSON Schema for the current structure? There is not too much we could define in such a schema, I think.

[2022-11-23 13:11] danielfett commented on #172
PR in #179

[2022-11-23 17:38] #172 closed

[2022-11-24 02:59] Sakurann opened #180 "separate sd-jwt and Disclosures using `.` and not `~`"
separation between sd-jwt and Disclosures should be ., not ~ for consistency and mental model wise. so `<SD-JWT>.<Disclosure 1>~<Disclosure 2>~...~<Disclosure N>`, instead of `<SD-JWT>~<Disclosure 1>~<Disclosure 2>~...~<Disclosure N>`.

[2022-11-24 09:09] danielfett commented on #180
I guess this depends on the mental model :-)

For me, the SD-JWT is primarily a normal JWT. When sending it, some things (the Disclosures) are attached to it. There needs to be a separator different from the ones in the JWT itself for distinguishing the JWT from the "attachment". So these two would work in that mental model:
`<SD-JWT>~<Disclosure 1>~<Disclosure 2>~...~<Disclosure N>`
or
`<SD-JWT>~

[2022-11-24 09:52] danielfett commented on #180
Also, isn't it much easier to separate the document by `~` and then to process the individual parts, instead of splitting by `.` and then re-assembling the JWT?

[2022-11-25 03:51] Sakurann commented on #180
I think the concern was that some libraries will take received string and process everything after the last ‘.’ as a signature, which in SD-JWT case includes disclosures.
________________________________
From: Daniel Fett ***@***.***>
Sent: Thursday, November 24, 2022 1:53:05 AM
To: oauth-wg/oauth-selective-disclosure-jwt ***@***.***>
Cc: Kristina Yasuda ***@***.***>; Author ***@***.***>
Subject:

[2022-11-25 07:36] danielfett commented on #180
I don't understand that. The whole string will fail JWT validation in any case, as it is more than a JWT. Devs need to split it before processing.

[2022-11-27 00:19] peppelinux commented on #180
You assume that the JWT Is signed, a JWT May be encrypted and the Number of values separated by . would be 5

The libraries used to parse a jwt checks the jwt headers to know if It is signed or encrypted and, where needed, also the typ.

Using . would be a pain for the parser libraries (and the implementers).
Using a typ like sd+jwt would be recommended to easy the implementers life.
Using an enve

[2022-11-27 00:31] peppelinux commented on #180
This issue is also related to this thread

https://github.com/oauth-wg/oauth-selective-disclosure-jwt/issues/114#issuecomment-1193920626

[2022-11-28 13:17] bc-pi commented on #180
IMHO `~` is a more appropriate model.

[2022-11-28 13:29] danielfett commented on #180
Let's discuss in our call later.

Some initial thoughts:

- If we use the `~` format, Giuseppe makes a good point with the number of dots.
- An envelope increases the size of the data that needs to be transferred.
- An envelope also means we need to think about `alg=none` again in case no signature/encryption is needed.
- It adds two new JWTs that we need to describe and distinguish from existing

[2022-11-28 14:24] danielfett commented on #176
"armoring" is also often used. Let's summon the native speaker to guide us! @bc-pi

[2022-11-28 14:35] bc-pi commented on #180
`Let's discuss in our call later.` +1

[2022-11-28 14:54] peppelinux commented on #180
Only if you don't have the optional Holder binding attestation, otherwise it would be quite similar in size.

the Holder binding should consider to not use alg=none, otherwise it would be as without the holder binding attestation.

yes, one is the envelope of another, and the first should have a `typ` claim in the header attesting its scope (combined disclosure)

good question, SD-JWT-Combined-Dis

[2022-11-28 15:14] danielfett commented on #180
There is a size increase due to the added layer of Base64.

This is an SD-JWT with Holder Binding according to the current draft in the repo:

[code]
It has ~2440 chars.

With an envelope, the envelope JWT is as follows (quickly put together in jwt.io):

[code]
This has ~2700 chars.

How would you do HB with an envelope but without alg=none? Just a JSON document?

Ignoring the inner SD-JWT, two en

[2022-11-28 18:06] bc-pi commented on #176
Offhand, I think going back to just "encoding" is probably the way to go in this context.

[2022-11-28 23:52] peppelinux commented on #180
thank you for this empiric analysis, we have roughly the 10% of additional weight using an envelope JWT.

The benefit is that an envelope JWT can be encrypted and be tracking resistant on the wire (in short/raw RF links), because the sequence of the bytes would always be different (thanks to variable claims like iat, exp, nonce ...). The disclosure object in the raw concatenation we already have a

[2022-11-29 08:04] danielfett commented on #180
The size increase should be (in the generalized case) around 33%.

I do see the benefit of the encryption, but I think that this should be handled by a lower layer, e.g., BLE encryption. In many cases, there is no benefit from the encryption or signing. In fact, if BLE is used, the 33% increase in size is certainly not desirable.

Can you please provide a full example of what you imaging an SD-JWT

[2022-11-29 08:59] peppelinux commented on #180
this implies that the security of the data format is dependant of the transport protocol. I'd prefer to keep it self-consistent also in this aspect

true, I should have done that sooner!

Here a Combined issuance:
[code]

Where $sd-jwt is
[code]

For combined presentation the same formula of the issuance but with:

- iss: different, that's the holder
- sub: a pseudonymization issued by the holder

[2022-11-29 09:01] danielfett commented on #180
Thank you! In your example above, the disclosure is plain JSON, which will require canonicalization for reproducible hashes. Is that intentional?

[2022-11-29 11:42] peppelinux commented on #180
good point. I think that we can adopt base64 encodings instead of plain json array if you agree.

an important aspect of the proposed new structure is the mapping between the digest and the disclosure (which would be encoded in base64 following our last comments). This better explains the mapping between hashed _sd and related disclosure

[2022-11-29 12:27] danielfett commented on #180
This mapping is a bit dangerous - it allows a verifier to extract the claim contents without verifying the hash. This means that a malicious holder can modify the disclosures and a verifier might not notice it. In the current draft, this mapping is omitted on purpose - it forces verifiers to hash before they can use the contents.

[2022-11-29 13:40] peppelinux commented on #180
well, in the real world nothing prevents that an implementation simply decodes a JWT without verify its signature and so on, but I got the point and I agree with your strategy. So the mapping can be abandoned and a json array would be applied.